<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>在线签约服务协议</title>
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/continue_relieve.css">
</head>
<body>
<div class="header_box"><img src="../../img/house_detail/close_mask.png" alt="" class="back">续租</div>
<div class="agreement_box">
    <h3>在线签约服务协议</h3>
    <p>在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议在线签约服务协议</p>
</div>
</body>
<script>
    function goback(){
        window.history.go(-1);
    }
    $(".back").click(function(){
        goback();
    })
</script>
</html>