<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>公租小区详情</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script rel="stylesheet" src="../../js/frame/swiper-3.4.2.jquery.min.js"></script>
    <link rel="stylesheet" href="../../css/frame/swiper-3.4.2.min.css">
    <script src="../../js/DcUtils.js"></script>
    <script src="../../js/HttpUtils.js"></script>
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/house_detail.css">
    <link rel="stylesheet" href="../../css/public_rental_house.css">
    <style></style>
</head>
<body>
    <div class="slider_wraper pr">
        <div class="cover">

        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">

            </div>
        </div>
        <div class="nav">
            <ul class="clearfix nav_list">

            </ul>
            <i class="arrow"></i>
        </div>
        <!--icon-->
        <!--vr-->
        <div class="icon_ara">
            <!--360-->
            <a href="javascript:;">
                <img src="../../img/house_detail/icons/360.png" alt="">
            </a>
            <!--vr-->
            <a href="javascript:;">
                <img src="../../img/house_detail/icons/btn_vr.png" alt="">
            </a>
            <!--举报-->
            <a href="./report_detal.html">
                <img src="../../img/house_detail/icons/btn_service.svg" alt="">
            </a>
            <!--联系房东-->
            <a href="tel:13102126201"><img src="../../img/house_detail/icons/btn_chat.svg" alt=""></a>
            <!--收藏列表-->
            <a href="../collect_list/my_collect.html"><img src="../../img/house_detail/icons/btn_cellection.svg" alt=""></a>
        </div>
    </div>
    <!--房源简介-->
    <div class="house_brief border_bottom">
        <div class="house_title">萝岗和苑一期<a href="#">所属阶段 ></a></div>
        <ul class="tags">
            <li>更新于2018-08-11</li>
            <li>687人已预览</li>
        </ul>
        <div class="dynamic_box">
            <img src="../../img/public_rental_house/dynamic.png"/>
            <p><span>最新动态：</span>广州市推出第二批面向用人单位整体租赁的新就业无房职工公租房共12100套。9月22
                日起受理用人单位申请。与第一批相比，这次面向的单位范围有所拓宽，凡是住所地在广州、申请之日已取得法人资格的单位均可申请。</p>
        </div>
    </div>
    <!--小区介绍-->
    <div class="community_info_box border_bottom">
        <div class="tit1">小区介绍</div>
        <ul>
            <li class="border_bottom">
                <span>项目地址</span>
                <span>广州市黄埔萝岗中心城区西侧</span>
            </li>
            <li class="border_bottom">
                <span>房源性质</span>
                <span>公共租赁住房</span>
            </li>
            <li class="border_bottom">
                <span>房源数量</span>
                <span>5555</span>
            </li>
            <li class="border_bottom">
                <span>主力户型</span>
                <span>二居室；三居室</span>
            </li>
            <li class="border_bottom">
                <span>建筑面积</span>
                <span>217.6万平方米</span>
            </li>
            <li class="border_bottom">
                <span>建筑年代</span>
                <span>2017年</span>
            </li>
            <li class="border_bottom">
                <span>建筑类型</span>
                <span>塔楼</span>
            </li>
            <li class="border_bottom">
                <span>楼栋总数</span>
                <span>17栋</span>
            </li>
            <li>
                <span>租金</span>
                <span>20元/平方米/月</span>
            </li>
        </ul>
    </div>
    <!--小区描述-->
    <div class="community_ins_box border_bottom">
        <div class="tit1">描述</div>
        <div class="ins_box">
            <p>萝岗和苑保障性住房项目座落于萝岗中心城区西侧,水西路以北，广惠高速南地段，萝岗区政府西北部，环境优美，青山环绕。周边配套设施完善，建有文化、行政、教育和绿化公园等场所。</p>
            <p>萝岗和苑保障性住房项目以用地中间东西向规划路为界，分为两期组织建设，四个组团进行设计。</p>
            <p>萝岗和苑一期位于项目南侧，建设用地面积28.33公顷，建筑面积94.61平方米，计划建设保障性住房10509套。配套公建包括中学，小学、幼儿园、消防站、公交站场、老年人服务站点、托老所、卫生站、肉菜市场、商业配套设施等。</p>
            <p>附近已开通366、327路公交线路及地铁6号线萝岗站或苏元站，地铁7号线、21号线水西站即将开通。</p>
        </div>
    </div>
    <!--户型介绍-->
    <section class="huxing_box border_bottom">
        <div class="tit1">户型配套</div>
        <div class="huxing_show_box">
            <div class="huxing_item">
                <a href="#">
                    <img src="../../img/public_rental_house/huxing1.png"/>
                    <p>A：二室一厅一卫<br/>面积：56平方米</p>
                </a>
            </div>
            <div class="huxing_item">
                <a href="#">
                    <img src="../../img/public_rental_house/huxing1.png"/>
                    <p>B：二室一厅一卫<br/>面积：56平方米</p>
                </a>
            </div>
            <div class="huxing_item">
                <a href="#">
                    <img src="../../img/public_rental_house/huxing1.png"/>
                    <p>C：二室一厅一卫<br/>面积：56平方米</p>
                </a>
            </div>
            <div class="huxing_item">
                <a href="#">
                    <img src="../../img/public_rental_house/huxing1.png"/>
                    <p>D：二室一厅一卫<br/>面积：56平方米</p>
                </a>
            </div>
            <!--最后-->
            <div class="last_item"></div>
        </div>
    </section>
    <!--位置-->
    <div class="around_traffic pr">
        <div class="matching_title">位置</div>
        <div><a href="./house_detail_map.html" class="to_detail_map">详情查看<img src="../../img/arrow_right.png" alt=""></a></div>
    </div>
    <!--map-->
    <div id="mapDiv"></div>
    <div id="mapResWrap" class="border_bottom">
        <ul>
            <li><img src="../../img/loading.gif" alt=""></li>
            <li><img src="../../img/loading.gif" alt="" style="width: 0.6rem"></li>
            <li><img src="../../img/loading.gif" alt="" style="width: 0.9rem"></li>
        </ul>
    </div>
    <img class="yjimg" src="../../img/public_rental_house/yj_gray.png"/>
    <!--签约footer-->
    <div class="pf qianyue_footer clearfix box_shadiow">
        <div class="fav border_right">
            <img src="../../img/house_detail/no_collected.png" alt="">
            <span>收藏</span>
        </div>
        <div class="online_qianyue"><a href="tel:xxxxxxxxxxxx" style="color: #fff">报名电话</a></div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script src="../../js/roomDetailMapLogy.js"></script>
<script>
    //获取滚动图片
    HttpUtils.get('../../mock/community_detail.json','',function (res) {
        res.forEach(function (item,index) {
            var belong = item.imgBelong
            var Imgarr = item.imgUrl.split(',');
            $('.nav_list').append('<li group="'+belong+'">'+belong+'</li>')
            Imgarr.forEach(function (item,index) {
                var swiper = '<div class="swiper-slide">'+
                    '<a href="javascript:;">'+
                    '<img src="'+item+'" alt="" data-group="'+belong+'"/>'+
                    '</a>'+
                    '</div>'
                $('.swiper-wrapper').append(swiper)
            })
        })
        var width = document.documentElement.clientWidth
        var length = $('.nav_list li').length
        // console.log(width,length)
        console.log($('i.arrow').width())
        var arrowLeft = width/length/2
        $('.nav_list li').css('width',width/length+'px')
        $('i.arrow').css('left',arrowLeft+'px')
        initSwiper('swiper-container');

    });
    function initSwiper(str) {
        var mySwiper = new Swiper('.'+str, {
            loop: true,
            autoplay: 2000,//可选选项，自动滑动
            speed: 500,
            width: document.documentElement.clientWidth,
            // 如果需要分页器
            autoplayDisableOnInteraction: false,
            lazyLoading: true,
            lazyLoadingInPrevNext: true,
            // 这个为true时，↓才有用
            lazyLoadingInPrevNextAmount: 4, // 设置在延迟加载图片时提前多少个slide
            onSlideChangeEnd: function(swiper){
                var index= swiper.activeIndex
                var imgGroup = $('.swiper-slide').eq(index).find('img').attr('data-group')
                console.log(imgGroup)//切换之后的 初始化也会触发
                $('.nav_list li').each(function (index,item) {
                    if($(item).text()==imgGroup){

                        $('i.arrow').css('left',$(item).offset().left+$(item).width()/2+'px')
                    }
                })
            }
        })
        $('.nav_list li').click(function () {
            var belong = $(this).attr('group');
            var index = ''
            $.each($('.swiper-container img'),function (index1,item1) {
                console.log($(item1).attr('data-group'))
                if($(item1).attr('data-group')==belong){
                    index = index1;
                    return false
                }
            })
            mySwiper.slideTo(index)
        })
    }
    //收藏
    $('.fav').click(function () {
        if($(this).hasClass('faved')){
            $.confirm('确定取消收藏么',function () {
                $('.fav img').attr('src','../../img/house_detail/no_collected.png')
                $('.fav span').text('收藏')
                $('.fav').removeClass('faved')
            },function () {

            })
        }else{
            $.confirm('确定收藏么',function () {
                $('.fav img').attr('src','../../img/house_detail/collected.png')
                $('.fav span').text('已收藏')
                $('.fav').addClass('faved')
            },function () {

            })
        }

        stopScroll($('.weui-mask'))
    })
</script>
</html>