<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>合同管理</title>
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/public_rental_house.css">
</head>
<body>
<section class="step_box">
    <ul>
        <li class="accept">1<span>配租完成</span></li>
        <li class="accept">2<span>生成合同</span></li>
        <li class="accept">3<span>租户签订合同</span></li>
        <li class="accept">4<span>完成入住</span></li>
        <div class="step_show" style="width:100%;"></div>
    </ul>
</section>
<section class="message_box">
    <div class="tit2">
        <span>履约中的合同</span>
        <a href="contract_detail.html">查看合同 <i>></i></a>
    </div>
    <div class="box1 border_bottom">
        <a class="left_box">
            <img class="house_img" src="../../img/public_rental_house/pic2.png"/>
            <div class="during">距租约结束1409天</div>
        </a>
        <div class="right_box">
            <div class="num">编码：CY-N201805091234</div>
            <div class="r12"><span>履约中</span><span><i>¥20</i>元/月/平米</span></div>
            <div class="adr"><img src="../../img/house_list/map_icon_gray.png"/>黄浦区萝岗和苑H-9栋2011室</div>
            <div class="lastTime">请在2018年12月1日前完成签约</div>
        </div>
    </div>
    <div class="box2 border_bottom">
        <p>2018年7月1日-2023年6月30日</p>
        <p class="orange">5 年</p>
    </div>
    <ul class="box3 border_bottom">
        <li class="border_right">
            <p>月付</p>
            <p class="orange">1200元/月</p>
        </li>
        <li>
            <p>缴纳方式</p>
            <p class="orange">银行代扣</p>
        </li>
    </ul>
</section>
</body>
</html>