<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>公租房详情</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script rel="stylesheet" src="../../js/frame/swiper-3.4.2.jquery.min.js"></script>
    <link rel="stylesheet" href="../../css/frame/swiper-3.4.2.min.css">
    <script src="../../js/DcUtils.js"></script>
    <script src="../../js/HttpUtils.js"></script>
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/house_detail.css">
    <link rel="stylesheet" href="../../css/public_rental_house.css">
    <style></style>
</head>
<body>
    <div class="slider_wraper pr">
        <div class="cover">

        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">

            </div>
        </div>
        <div class="nav">
            <ul class="clearfix nav_list">

            </ul>
            <i class="arrow"></i>
        </div>
        <!--icon-->
        <!--vr-->
        <div class="icon_ara">
            <!--360-->
            <a href="javascript:;">
                <img src="../../img/house_detail/icons/360.png" alt="">
            </a>
            <!--vr-->
            <a href="javascript:;">
                <img src="../../img/house_detail/icons/btn_vr.png" alt="">
            </a>
            <!--举报-->
            <a href="./report_detal.html">
                <img src="../../img/house_detail/icons/btn_service.svg" alt="">
            </a>
            <!--联系房东-->
            <a href="tel:13102126201"><img src="../../img/house_detail/icons/btn_chat.svg" alt=""></a>
            <!--收藏列表-->
            <a href="../collect_list/my_collect.html"><img src="../../img/house_detail/icons/btn_cellection.svg" alt=""></a>
        </div>
    </div>
    <!--房源简介-->
    <div class="house_brief">
        <div class="house_price">¥1120元/月</div>
        <div class="house_title"><span class="font_org">A户型</span> · 二室一厅一卫 </div>
        <ul class="tags">
            <li>更新于2018-08-11</li>
            <li>687人已预览</li>
        </ul>
    </div>
    <!--更多信息-->
    <ul class="house_infos">
        <li class="border_right">56m²</li>
        <li class="border_right">整租</li>
        <li class="border_right">2-32层</li>
        <li>公租房</li>
    </ul>
    <!--公租房介绍-->
    <div class="community_info_box border_bottom">
        <div class="tit1">房源介绍</div>
        <ul>
            <li class="border_bottom">
                <span>项目地址</span>
                <span>广州市黄埔萝岗中心城区西侧</span>
            </li>
            <li class="border_bottom">
                <span>房源性质</span>
                <span>公共租赁住房</span>
            </li>
            <li class="border_bottom">
                <span>房源面积</span>
                <span>56平方米</span>
            </li>
            <li class="border_bottom">
                <span>所在楼层</span>
                <span>2层-32层</span>
            </li>
            <li class="border_bottom">
                <span>所在楼栋</span>
                <span>1号楼</span>
            </li>
            <li class="border_bottom">
                <span>支付方式</span>
                <span>押2付1</span>
            </li>
            <li class="border_bottom">
                <span>租赁方式</span>
                <span>整租</span>
            </li>
            <li>
                <span>租金</span>
                <span>20元/平方米/月</span>
            </li>
        </ul>
    </div>
    <!--户型描述-->
    <div class="community_ins_box border_bottom">
        <div class="tit1">户型描述</div>
        <div class="ins_box">
            <p> 户型就是住房的结构和形状。在社会的发展、人们生活水平的提高及各住户的生活需求、经济条件不同而千变万化。有的是开发商设计,如连片成栋小区,有的是个人根据自家的条件和要求设计,如自己建设的别墅。总之,有什么样的思维就可以设计出不同的户型。</p>
        </div>
    </div>
    <!--房源配套-->
    <div class="house_matching border_bottom">
        <div class="matching_title" style="">户型配套</div>
        <div class="layout_img">
            <img src="../../img/public_rental_house/huxing1.png" alt="" class="huxingtu">
        </div>
        <div class="matching_icon">
            <div class="">
                <img src="../../img/peitao_c/bed.png" alt="">
                <div class="equip_name">床</div>
            </div>
            <div class="">
                <img src="../../img/peitao_c/yigui.png" alt="">
                <div class="equip_name">衣柜</div>
            </div>
            <div class="">
                <img src="../../img/peitao_c/sofa.png" alt="">
                <div class="equip_name">沙发</div>
            </div>
            <div class="">
                <img src="../../img/peitao_c/tv.png" alt="">
                <div class="equip_name">电视</div>
            </div>
            <div class="">
                <img src="../../img/peitao_c/bingxiang.png" alt="">
                <div class="equip_name">冰箱</div>
            </div>
            <div class="">
                <img src="../../img/peitao_c/kongtiao.png" alt="">
                <div class="equip_name">空调</div>
            </div>
            <div class="">
                <img src="../../img/peitao_c/xiyiji.png" alt="">
                <div class="equip_name">洗衣机</div>
            </div>
            <div class="">
                <img src="../../img/peitao_c/wifi.png" alt="">
                <div class="equip_name">宽带</div>
            </div>
            <div class="">
                <img src="../../img/peitao_c/ranqi.png" alt="">
                <div class="equip_name">燃气</div>
            </div>
            <div class="">
                <img src="../../img/peitao_c/reshuiqi.png" alt="">
                <div class="equip_name">热水器</div>
            </div>
        </div>
    </div>
    <!--周边及交通-->
    <div class="around_traffic pr">
        <div class="matching_title">位置</div>
        <div><a href="./house_detail_map.html" class="to_detail_map">详情查看<img src="../../img/arrow_right.png" alt=""></a></div>
    </div>
    <!--map-->
    <div id="mapDiv"></div>
    <div id="mapResWrap" class="border_bottom">
        <ul>
            <li><img src="../../img/loading.gif" alt=""></li>
            <li><img src="../../img/loading.gif" alt="" style="width: 0.6rem"></li>
            <li><img src="../../img/loading.gif" alt="" style="width: 0.9rem"></li>
        </ul>
    </div>
    <!--同小区房源-->
    <!--<div class="new_room border_bottom">
        <div class="new_room_label clearfix">
            <div class="fl">
                <label>同小区房源</label>
                <p class="room_type_P">用户画像，智能推荐</p>
            </div>
            <div class="fr">
                 <p class="op1"><a href="javascript:;" class="to_detail_map">详情查看<img src="../../img/arrow_right.png" alt=""></a></p>
            </div>
        </div>
        <div class="new_room_list">
            <div class="item">
                <div class="room_img"><img src="../../img/home/index_city2.jpg"></div>
                <p class="room_name">海珠新港城4居室-南卧</p>
                <p class="room_price">￥1960元/月</p></div>
            <div class="item">
                <div class="room_img"><img src="../../img/home/index_city2.jpg"></div>
                <p class="room_name">海珠新港城4居室-南卧</p>
                <p class="room_price">￥1960元/月</p></div>
            <div class="item">
                <div class="room_img"><img src="../../img/home/index_city2.jpg"></div>
                <p class="room_name">海珠新港城1居室-南卧</p>
                <p class="room_price">￥1340元/月</p></div>
            <div class="item">
                <div class="room_img"><img src="../../img/home/index_city2.jpg"></div>
                <p class="room_name">海珠新港城4居室-南卧</p>
                <p class="room_price">￥1670元/月</p></div>
            <div class="item">
                <div class="room_img"><img src="../../img/home/index_city2.jpg"></div>
                <p class="room_name">海珠新港城3居室-南卧</p>
                <p class="room_price">￥1960元/月</p></div>
        </div>
    </div>-->
    <!--热门推荐-->
    <!--<div class="new_room border_bottom">
        <div class="new_room_label clearfix">
            <div class="fl">
                <label>热门推荐</label>
                <p class="room_type_P">用户画像，智能推荐</p>
            </div>
            <div class="fr">
                <p class="op1"><a href="javascript:;" class="to_detail_map">详情查看<img src="../../img/arrow_right.png" alt=""></a></p>
            </div>
        </div>
        <div class="new_room_list">
            <div class="item">
                <div class="room_img"><img src="../../img/home/index_city2.jpg"></div>
                <p class="room_name">海珠新港城4居室-南卧</p>
                <p class="room_price">￥1960元/月</p></div>
            <div class="item">
                <div class="room_img"><img src="../../img/home/index_city2.jpg"></div>
                <p class="room_name">海珠新港城4居室-南卧</p>
                <p class="room_price">￥1960元/月</p></div>
            <div class="item">
                <div class="room_img"><img src="../../img/home/index_city2.jpg"></div>
                <p class="room_name">海珠新港城1居室-南卧</p>
                <p class="room_price">￥1340元/月</p></div>
            <div class="item">
                <div class="room_img"><img src="../../img/home/index_city2.jpg"></div>
                <p class="room_name">海珠新港城4居室-南卧</p>
                <p class="room_price">￥1670元/月</p></div>
            <div class="item">
                <div class="room_img"><img src="../../img/home/index_city2.jpg"></div>
                <p class="room_name">海珠新港城3居室-南卧</p>
                <p class="room_price">￥1960元/月</p></div>
        </div>
    </div>-->
    <img class="yjimg" src="../../img/public_rental_house/yj_gray.png"/>
    <!--签约footer-->
    <div class="pf qianyue_footer clearfix box_shadiow">
        <div class="fav border_right">
            <img src="../../img/house_detail/no_collected.png" alt="">
            <span>收藏</span>
        </div>
        <div class="yuyue_look"><a href="#" style="color: #444">预约看房</a></div>
        <div class="online_qianyue"><a href="tel:xxxxxxxxxxxx" style="color: #fff">报名电话</a></div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script src="../../js/roomDetailMapLogy.js"></script>
<script>

    //获取滚动图片
    HttpUtils.get('../../mock/public_rental_house_detail.json','',function (res) {
       res.forEach(function (item,index) {
           var belong = item.imgBelong
           var Imgarr = item.imgUrl.split(',');
           $('.nav_list').append('<li group="'+belong+'">'+belong+'</li>')
           Imgarr.forEach(function (item,index) {
               var swiper = '<div class="swiper-slide">'+
                   '<a href="javascript:;">'+
                   '<img src="'+item+'" alt="" data-group="'+belong+'"/>'+
                   '</a>'+
                   '</div>'
               $('.swiper-wrapper').append(swiper)
           })
       })
        var width = document.documentElement.clientWidth
        var length = $('.nav_list li').length
       // console.log(width,length)
        console.log($('i.arrow').width())
        var arrowLeft = width/length/2
        $('.nav_list li').css('width',width/length+'px')
        $('i.arrow').css('left',arrowLeft+'px')
        initSwiper('swiper-container');

    });
    function initSwiper(str) {
       
        var mySwiper = new Swiper('.'+str, {
            loop: true,
            autoplay: 2000,//可选选项，自动滑动
            speed: 500,
            width: document.documentElement.clientWidth,
            // 如果需要分页器
            autoplayDisableOnInteraction: false,
            lazyLoading: true,
            lazyLoadingInPrevNext: true,
            // 这个为true时，↓才有用
            lazyLoadingInPrevNextAmount: 4, // 设置在延迟加载图片时提前多少个slide
            onSlideChangeEnd: function(swiper){
                var index= swiper.activeIndex
                var imgGroup = $('.swiper-slide').eq(index).find('img').attr('data-group')
                console.log(imgGroup)//切换之后的 初始化也会触发
                $('.nav_list li').each(function (index,item) {
                    if($(item).text()==imgGroup){

                        $('i.arrow').css('left',$(item).offset().left+$(item).width()/2+'px')
                    }
                })
            }
        })
        $('.nav_list li').click(function () {
            var belong = $(this).attr('group');
            var index = ''
            $.each($('.swiper-container img'),function (index1,item1) {
                console.log($(item1).attr('data-group'))
                if($(item1).attr('data-group')==belong){
                    index = index1;
                    return false
                }
            })
            mySwiper.slideTo(index)
        })
    }
    //收藏
    $('.fav').click(function () {
        if($(this).hasClass('faved')){
            $.confirm('确定取消收藏么',function () {
                $('.fav img').attr('src','../../img/house_detail/no_collected.png')
                $('.fav span').text('收藏')
                $('.fav').removeClass('faved')
            },function () {

            })
        }else{
            $.confirm('确定收藏么',function () {
                $('.fav img').attr('src','../../img/house_detail/collected.png')
                $('.fav span').text('已收藏')
                $('.fav').addClass('faved')
            },function () {

            })
        }

        stopScroll($('.weui-mask'))
    })
</script>
</html>