<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>公租房主页ver2</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/public_rental_house.css">
    <link rel="stylesheet" href="../../css/frame/swiper-3.4.2.min.css">
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script src="../../js/common.js"></script>
    <script rel="stylesheet" src="../../js/frame/swiper-3.4.2.jquery.min.js"></script>
</head>
<body style="background:#f1f1f1;padding-top:0.1rem;height:auto;">
<section class="new_nav_box">
    <div class="navtit">公租业务</div>
    <ul class="border_bottom" style="margin-bottom: 0.14rem;">
        <li><a href="#"><img src="../../img/home/nav_icon/5.png"/>入住办理</a></li>
        <li><a href="#"><img src="../../img/home/nav_icon/6.png"/>安装申报</a></li>
        <li><a href="#"><img src="../../img/home/nav_icon/7.png"/>车位申请</a></li>
        <li><a href="#"><img src="../../img/home/nav_icon/8.png"/>资讯投诉</a></li>
        <!--<li><a href="#"><img src="../../img/home/nav_icon/9.png"/>一键开锁</a></li>-->
    </ul>
    <div class="navtit">小工具</div>
    <ul>
        <li><a href="#"><img src="../../img/home/nav_icon/10.png"/>资格自检</a></li>
        <li><a href="#"><img src="../../img/home/nav_icon/11.png"/>申请流程</a></li>
        <li><a href="#"><img src="../../img/home/nav_icon/12.png"/>公租政策</a></li>
    </ul>
</section>
<!--公租房社区-->
<section class="shequ" style="margin-bottom: 0.1rem;">
    <div class="tit">
        <span>公租房社区</span>
        <a href="#">查看更多 ></a>
    </div>
    <div class="house_show_box">
        <div class="house_item">
            <a href="#">
                <img src="../../img/public_rental_house/houseshow.png"/>
                <b>萝岗和苑</b>
                <p>黄埔区萝岗街水西村</p>
                <div class="sicon1">接受申请</div>
            </a>
        </div>
        <div class="house_item">
            <a href="#">
                <img src="../../img/public_rental_house/houseshow.png"/>
                <b class="disable">萝岗和苑<i> (未开放)</i></b>
                <p>黄埔区萝岗街水西村</p>
                <div class="sicon2">资格初审</div>
            </a>
        </div>
        <div class="house_item">
            <a href="#">
                <img src="../../img/public_rental_house/houseshow.png"/>
                <b>萝岗和苑</b>
                <p>黄埔区萝岗街水西村</p>
                <div class="sicon3">资格复审</div>
            </a>
        </div>
        <div class="house_item">
            <a href="#">
                <img src="../../img/public_rental_house/houseshow.png"/>
                <b>萝岗和苑</b>
                <p>黄埔区萝岗街水西村</p>
                <div class="sicon4">配租阶段</div>
            </a>
        </div>
        <div class="house_item">
            <a href="#">
                <img src="../../img/public_rental_house/houseshow.png"/>
                <b>萝岗和苑</b>
                <p>黄埔区萝岗街水西村</p>
                <div class="sicon5">入住办理</div>
            </a>
        </div>
        <div class="house_item">
            <a href="#">
                <img src="../../img/public_rental_house/houseshow.png"/>
                <b>萝岗和苑</b>
                <p>黄埔区萝岗街水西村</p>
                <div class="sicon6">申请结束</div>
            </a>
        </div>
        <!--最后-->
        <div class="last_item"></div>
    </div>
</section>
<!---公租房申请流程 10-25添加-->
<section class="sqlc">
    <div class="tit">
        <span>公租房申请流程</span>
        <a href="#">公租房申请政策 ></a>
    </div>
    <ul>
        <li><span>01</span><p>住保办发布公租房<br/>摇号分配指引</p></li>
        <li><span>02</span><p>申请人领取资料</p></li>
        <li><span>03</span><p>参观房源点</p></li>
        <li><span>04</span><p>意向登记</p></li>
        <li><span>05</span><p>意向登记复核</p></li>
        <li><span>06</span><p>公示意向登记情况<br/>异议复核</p></li>
        <li><span>07</span><p>公布配租名单</p></li>
        <li><span>08</span><p>摇号预分配</p></li>
        <li><span>09</span><p>摇号预分配结果公示<br/>接受举报</p></li>
        <li><span>10</span><p>领取资格复核资料或<br/>预分配结果通知书</p></li>
        <li><span>11</span><p>递交资格复核资料</p></li>
        <li><span>12</span><p>资格复核、举报及<br/>异议核查</p></li>
        <li><span>13</span><p>发放入住通知书<br/>办理入住手续</p></li>
    </ul>
</section>
<img class="yjimg" src="../../img/public_rental_house/yj.png"/>
<!--底部导航引用公共模块-->
</body>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script>
</script>
</html>