<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>我的住房</title>
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/public_rental_house.css">
</head>
<body class="grayBody">
    <section class="my_house_box">
        <h4 class="border_bottom">房屋信息</h4>
        <div class="box1 border_bottom">
            <a class="left_box">
                <img class="house_img" src="../../img/public_rental_house/pic2.png"/>
                <div class="during">距租约结束1409天</div>
            </a>
            <div class="right_box">
                <div class="adr">黄浦区萝岗和苑H-9栋2011室</div>
                <div class="info">58m² | 20/32层</div>
                <div class="price1">20元/平米/月</div>
                <div class="price2">¥1260元/月</div>
            </div>
        </div>
        <ul>
            <li><a href="#"><img src="../../img/home/nav_icon/9.png"/>一键开锁</a></li>
            <li><a href="#"><img src="../../img/home/nav_icon/7.png"/>车位申请</a></li>
            <li><a href="#"><img src="../../img/home/nav_icon/6.png"/>安装申报</a></li>
            <li><a href="#"><img src="../../img/home/nav_icon/17.png"/>故障报修</a></li>
        </ul>
    </section>
</body>
</html>