<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>广州来穗人员公租房申请受理点</title>
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <style>
        #shoulidian{width:3.6rem;margin:0 auto;color:#444;padding-bottom: 0.3rem;}
        #shoulidian h1{font-size: 0.15rem;text-align: center;line-height: 0.6rem;}
        #shoulidian table{border-top:1px solid #ccc;border-left:1px solid #ccc;width:100%;border-collapse:collapse;border-spacing:0;text-align: center;vertical-align: middle;}
        #shoulidian table th{padding:0.1rem 0.06rem;line-height: 0.2rem;border-bottom:1px solid #ccc;border-right:1px solid #ccc;font-size:0.13rem;color: #666666;background: #f1f1f1;}
        #shoulidian table td{padding:0.1rem 0.06rem;line-height: 0.2rem;border-bottom:1px solid #ccc;border-right:1px solid #ccc;font-size: 0.12rem;}
    </style>
</head>
<body>
<section id="shoulidian">
    <h1>广州来穗人员公租房申请受理点</h1>
    <table>
        <tr><th>序号</th><th>行政区</th><th style="width:0.3rem;">编号</th><th>街（镇）来穗人员和出租屋服务管理中心名称</th><th>地址</th><th>电话</th></tr>
        <tr><td>1</td><td>越秀区</td><td>受理点1</td><td>越秀区来穗人员综合服务中心</td><td>越秀区德政中路龙腾里4号</td><td>37652911</td></tr>
        <tr><td>2</td><td rowspan="4">海珠区</td><td>受理点1</td><td>滨江街道来穗人员和出租屋服务管理中心</td><td>海珠区滨江东路远安街逸民里15号地下</td><td>84386496</td></tr>
        <tr><td>3</td><td>受理点2</td><td>沙园街道来穗人员和出租屋服务管理中心</td><td>沙园大街26号二楼居住证窗口</td><td>84351085</td></tr>
        <tr><td>4</td><td>受理点3</td><td>琶洲街道来穗人员和出租屋服务管理中心</td><td>广州市海珠区新港东路86号首层</td><td>89238301</td></tr>
        <tr><td>5</td><td>受理点4</td><td>南洲街政务服务中心</td><td>南洲路331号一楼</td><td>34139349</td></tr>
        <tr><td>6</td><td rowspan="3">荔湾区</td><td>受理点1</td><td>华林街政务中心</td><td>十八甫北路曹基直街81号之一</td><td>81240327</td></tr>
        <tr><td>7</td><td>受理点2</td><td>站前街政务中心</td><td>流花路中展里四约大街5号之一首层</td><td>86433609</td></tr>
        <tr><td>8</td><td>受理点3</td><td>石围塘街政务中心</td><td>芳村大道西83号二楼</td><td>81547074</td></tr>
        <tr><td>9</td><td rowspan="6">天河区</td><td>受理点1</td><td>五山街来穗中心和出租屋管理服务中心</td><td>五山岳洲路39号一楼</td><td>85285956</td></tr>
        <tr><td>10</td><td>受理点2</td><td>天河南街来穗中心和出租屋管理服务中心</td><td>体育西横街193号</td><td>87531679</td></tr>
        <tr><td>11</td><td>受理点3</td><td>兴华街来穗中心和出租屋管理服务中心</td><td>广州市银燕路166号一楼</td><td>87226560</td></tr>
        <tr><td>12</td><td>受理点4</td><td>棠下街来穗中心和出租屋管理服务中心</td><td>棠德西4街1-9号首层</td><td>87558923</td></tr>
        <tr><td>13</td><td>受理点5</td><td>天园街来穗中心和出租屋管理服务中心</td><td>天河区东方三路东逸二街58号</td><td>85523860</td></tr>
        <tr><td>14</td><td>受理点6</td><td>前进街来穗中心和出租屋管理服务中心</td><td>天河区东圃桃园路3号</td><td>82564063</td></tr>
        <tr><td>15</td><td rowspan="7">白云区</td><td>受理点1</td><td>金沙街来穗中心和出租屋管理服务中心</td><td>广州市白云区金沙街横沙复建街19号首层</td><td>81970779</td></tr>
        <tr><td>16</td><td>受理点2</td><td>石井街来穗中心和出租屋管理服务中心</td><td>广州市白云区石井街石丰路1号</td><td>36371856</td></tr>
        <tr><td>17</td><td>受理点3</td><td>鹤龙街来穗人员和出租屋服务管理中心</td><td>广州市白云区鹤龙街鹤泰路6号一楼大厅</td><td>86176446</td></tr>
        <tr><td>18</td><td>受理点4</td><td>同德街来穗人员和出租屋服务管理中心</td><td>广州市白云区西槎路同雅街78号</td><td>86173200</td></tr>
        <tr><td>19</td><td>受理点5</td><td>永平街来穗人员和出租屋服务管理中心</td><td>广州市白云区荟贤路1号</td><td>86054771</td></tr>
        <tr><td>20</td><td>受理点6</td><td>太和街来穗人员和出租屋服务管理中心</td><td>广州市白云区太和镇太和中路4号</td><td>87410003<br/>87438751<br/>87429038</td></tr>
        <tr><td>21</td><td>受理点7</td><td>棠景街来穗人员和出租屋服务管理中心</td><td>广州市白云区三元里大道907号</td><td>36296060</td></tr>
        <tr><td>22</td><td rowspan="8">黄埔区</td><td>受理点1</td><td>文冲社区公共服务站</td><td>黄埔区石化路106号</td><td>32399182</td></tr>
        <tr><td>23</td><td>受理点2</td><td>穗东街来穗人员和出租屋服务管理中心</td><td>南湾大街31号宝夏花园A栋一楼政务服务中心</td><td>82066595</td></tr>
        <tr><td>24</td><td>受理点3</td><td>南岗街道来穗人员和出租屋服务管理中心</td><td>广州市黄埔区黄埔东路3731号--南岗街政务服务中心</td><td>82244826</td></tr>
        <tr><td>25</td><td>受理点4</td><td>荔联街道来穗人员和出租屋服务管理中心</td><td>黄埔东路4270号</td><td>82269056</td></tr>
        <tr><td>26</td><td>受理点5</td><td>长洲街来穗人员和出租屋服务管理中心</td><td>金洲南路1号</td><td>82205637</td></tr>
        <tr><td>27</td><td>受理点6</td><td>东区街来穗人员和出租屋服务管理中心</td><td>东区街道办事处开创大道393号</td><td>82119913</td></tr>
        <tr><td>28</td><td>受理点7</td><td>萝岗街来穗人员和出租屋服务管理中心</td><td>黄埔区公路街118号</td><td>82082598</td></tr>
        <tr><td>29</td><td>受理点8</td><td>九龙镇来穗人员和出租屋服务管理中心</td><td>九龙镇学政路（镇政府旁直入到九龙镇党校大院内）</td><td>87491620</td></tr>
        <tr><td>30</td><td rowspan="6">花都区</td><td>受理点1</td><td>新华街来穗人员和出租屋服务管理中心</td><td>花都区建设北路105号</td><td>36995418</td></tr>
        <tr><td>31</td><td>受理点2</td><td>花城街政务中心</td><td>花都区建设北路191号</td><td>89689309</td></tr>
        <tr><td>32</td><td>受理点3</td><td>新雅街来穗人员和出租屋服务管理中心</td><td>花都区新雅街雅瑶中路自编18号</td><td>86837123</td></tr>
        <tr><td>33</td><td>受理点4</td><td>狮岭镇来穗人员和出租屋服务管理中心</td><td>花都区狮岭镇阳光南路15号</td><td>86931383</td></tr>
        <tr><td>34</td><td>受理点5</td><td>花东镇来穗人员和出租屋服务管理中心</td><td>花都区花东镇东成路（花东派出所西侧）</td><td>86761555</td></tr>
        <tr><td>35</td><td>受理点6</td><td>炭步镇来穗人员和出租屋服务管理中心</td><td>花都区炭步镇花都大道西96号</td><td>86733668转806</td></tr>
        <tr><td>36</td><td rowspan="8">番禺区</td><td>受理点1</td><td>市桥街来穗人员和出租屋服务管理中心</td><td>市桥街兴富路45号（市桥派出所旁）</td><td>84873340<br/>34514744</td></tr>
        <tr><td>37</td><td>受理点2</td><td>桥南街来穗人员和出租屋服务管理中心</td><td>桥南街福愉西路逸祥大街2号（番禺中学南面）</td><td>34617301</td></tr>
        <tr><td>38</td><td>受理点3</td><td>大石街来穗人员和出租屋服务管理中心</td><td>大石街岗东路155号</td><td>34797997</td></tr>
        <tr><td>39</td><td>受理点4</td><td>钟村街来穗人员和出租屋服务管理中心</td><td>钟村街毓秀东路11号</td><td>34711234</td></tr>
        <tr><td>40</td><td>受理点5</td><td>南村镇来穗人员和出租屋服务管理中心</td><td>南村镇兴业大道1042号</td><td>39956782</td></tr>
        <tr><td>41</td><td>受理点6</td><td>化龙镇来穗人员和出租屋服务管理中心</td><td>化龙镇龙源路171号</td><td>84756215</td></tr>
        <tr><td>42</td><td>受理点7</td><td>石楼镇来穗人员和出租屋服务管理中心</td><td>石楼镇嵩山路60号群众服务中心北门1号楼</td><td>84845355<br/>84866314</td></tr>
        <tr><td>43</td><td>受理点8</td><td>石碁镇来穗人员和出租屋服务管理中心</td><td>石碁镇岐山南路4号（石碁镇政务中心）</td><td>34851125</td></tr>
        <tr><td>44</td><td>南沙区</td><td>受理点1</td><td>南沙区政务服务中心</td><td>南沙区凤凰大道1号E栋25号窗</td><td>39053053</td></tr>
        <tr><td>45</td><td>从化区</td><td>受理点1</td><td>街口街来穗人员和出租屋服务管理中心</td><td>从化区街口街镇安横一巷2栋首层</td><td>87925868</td></tr>
        <tr><td>46</td><td rowspan="3">增城区</td><td>受理点1</td><td>荔城街来穗人员和出租屋服务管理中心</td><td>增城区荔城街荔景大道1号</td><td>82627066</td></tr>
        <tr><td>47</td><td>受理点2</td><td>永宁街来穗人员和出租屋服务管理中心</td><td>增城区永宁街荔香路38号</td><td>82971706</td></tr>
        <tr><td>48</td><td>受理点3</td><td>新塘镇来穗人员和出租屋服务管理中心</td><td>增城区新塘镇新塘大道中12号C栋</td><td>82773606</td></tr>
    </table>
</section>
</body>
</html>