<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--new-->
    <link rel="stylesheet" href="../css/frame/mescroll.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<div class="index_container">
   <!-- <input type="text" id="pickupTime">-->
    <div class="head_search pr">
        <div class="swiper-title">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/home/index_city1.png" alt=""></div>
                <div class="swiper-slide"><img src="../img/home/index_city2.png" alt=""></div>
                <div class="swiper-slide"><img src="../img/home/index_city3.png" alt=""></div>
            </div>
        </div>


        <div class="search_input clearfix">
            <div class="input_wrap">
            <i class="search-icon fa fa-search"><img style="margin-bottom: -3px;" src="../img/glass.png" alt=""></i>
            <input type="search" class="" id="searchInput" placeholder="输入区域、小区、地铁名">

            <!--<img id="search_input" src="../img/home/input_img.png" alt="">-->
                <button class="search_button">搜索</button>
            </div>
        </div>

        <div class="clearfix logo_wrap">
            <div class="logo pr fl">
                <img src="../img/logo_o.png" alt="">
                <span>城壹宜居</span>
            </div>
            <div class="message pr fr">
                <img src="../img/index_icons/message.png" alt="">
                <div class="message_num">3</div>
            </div>
        </div>
    </div>
    <div class="search_nav clearfix">
       <!-- <div class="search_nav_item fl policyHouse">
            <div class="search_nav_div">
                <img src="../img/index_icons/fun_icon_01.png" alt="">
            </div>
            <p>政策房源</p>
        </div>-->
        <div class="search_nav_item fl conditionSearch">
            <div class="search_nav_div">
                <img src="../img/index_icons/woyaozufang.png" alt="">
            </div>
            <p>我要租房</p>
        </div>
        <div class="search_nav_item fl woyaochuzu">
            <div class=" search_nav_div">
                <img src="../img/index_icons/woyaochuzu.png" alt="">
            </div>
            <p>我要出租</p>
        </div>
       <!-- <div class="search_nav_item fl mapSearch">
            <div class="search_nav_div">
                <img src="../img/index_icons/fun_icon_03.png" alt="">
            </div>
            <p>地图找房</p>
        </div>
        <div class="search_nav_item fl tongqinzhaofang">
            <div class="search_nav_div img4">
                <img src="../img/index_icons/fun_icon_04.png" alt="">
            </div>
            <p>通勤找房</p>
        </div>-->
        <div class="search_nav_item fl ruzhubanli">
            <div class="search_nav_div">
                <img src="../img/index_icons/ruzhubanli.png" alt="">
            </div>
            <p>入住办理</p>
        </div>
        <div class="search_nav_item fl zhengcezixun">
            <div class="search_nav_div">
                <img src="../img/index_icons/zhengcezixun.png" alt="">
            </div>
            <p>政策资讯</p>
        </div>
        <!--<div class="search_nav_item fl qiuzufabu">
            <div class="search_nav_div">
                <img src="../img/index_icons/fun_icon_07.png" alt="">
            </div>
            <p>求租发布</p>
        </div>-->

    </div>

    <div class="room_type clearfix">
        <div class="room_type_label clearfix">
            <div class="fl" >
                <a href="./house_type.html">
                    <label >房源类别</label>
                    <p class="room_type_P" style=" margin-top: 0.01rem;">最权威，最齐全</p>
                </a>
            </div>
            <div class="fr">
                <button >67,890</button>
                <p class="room_type_P"  style="margin-top: 0.04rem;">房源总数</p>
            </div>
        </div>
        <div class="room_type_slide-box">
            <div class="room_type_slide-item">
                <img src="../img/home/pinpaigongyu.png" alt="">
                <div>
                    <p class="slide-item_title">品牌公寓</p>
                    <p class="slide-item_subtitle">窝趣、冠寓、红璞、蝌蚪</p>
                </div>
            </div>
            <div class="room_type_slide-item">
                <img src="../img/home/zhongjiefangyuan.png" alt="">
                <div>
                    <p class="slide-item_title">中介房源</p>
                    <p class="slide-item_subtitle">中原、新浪</p>
                </div>
            </div>
            <div class="room_type_slide-item">
                <img src="../img/home/gerenfangyuan.png" alt="">
                <div>
                    <p class="slide-item_title">个人房源</p>
                    <p class="slide-item_subtitle">整租、合租</p>
                </div>
            </div>
            <div class="room_type_slide-item">
                <img src="../img/home/zhengcefangyuan.png" alt="">
                <div>
                    <p class="slide-item_title">政策房源</p>
                    <p class="slide-item_subtitle">公租、人才</p>
                </div>
            </div>
            <div class="room_type_slide-item">
                <img src="../img/home/pingtaifangyuan.png" alt="">
                <div>
                    <p class="slide-item_title">平台房源</p>
                    <p class="slide-item_subtitle">城壹、58、搜房网、安居客</p>
                </div>
            </div>

            <!--最后-->
            <div class="room_type_slide_last">
            </div>

        </div>
    </div>

    <div class="new_room">
        <div class="new_room_label">
            <div class="fl">
                <label >最新房源</label>
                <p class="room_type_P" style="margin-top: 0.04rem;">最新最快，房源推荐</p>
            </div>
            <div class="fr" style="margin-top: 0.05rem;">
                <p>更多</p>
            </div>
        </div>
        <!-- <div class="new_room_list">
           <div class="item">
               <div class="room_img">
                   <img src="../img/index/index_city3.png" alt="">
               </div>
               <p class="room_name">花果山小区4居室-南卧</p>
               <p class="room_price">￥1960元/月</p>
            </div>
       </div>-->
    </div>
    <div class="swiper_life_div">
        <div class="swiper_life">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="javascript:;"><img src="../img/home/guanggao_honghu.png" alt="" ></a></div>
                <div class="swiper-slide"><a href="javascript:;"><img src="../img/home/guanggao_woqu.png" alt="" ></a></div>
                <div class="swiper-slide"><a href="javascript:;"><img src="../img/home/guanggao_guanyu.png" alt=""></a></div>
                <div class="swiper-slide"><a href="javascript:;"><img src="../img/home/guanggao_xinlang.png" alt=""></a></div>
            </div>
            <div class="swiper-pagination swiper_page"></div>
        </div>
    </div>
    <div class="life_server">
        <div class="life_server_label">
            <div class="fl">
                <label >便民服务</label>
                <p class="room_type_P">快捷服务，智慧生活</p>
            </div>
            <div class="fr" style="margin-top: 0.03rem;">
                <p class="room_type_P life_server_gengduo" style="font-size: 0.12rem">更多</p>
            </div>
        </div>
        <div class="life_server_box">
            <div class="life_server_item" onclick="window.location.href='./news/server_living_payment.html'">
                <img src="../img/home/shenghuojiaofei.png" alt="">
                <div class="life_server_type">
                    <div class="life_server_title">生活缴费</div>
                    <div class="life_server_content">缴纳水费、缴纳电费、缴纳燃气费、有线电视费</div>
                </div>
            </div>
 <div class="life_server_item">
                <img src="../img/home/zhengwufuwu.png" alt="">
                <div class="life_server_type">
                    <div class="life_server_title">政务服务</div>
                    <div class="life_server_content">公积金查询、社保查询、交通罚款</div>
                </div>
            </div>
 <div class="life_server_item">
                <img src="../img/home/yiliaofuwu.png" alt="">
                <div class="life_server_type">
                    <div class="life_server_title">医疗服务</div>
                    <div class="life_server_content">预约挂号</div>
                </div>
            </div>

 <div class="life_server_item">
                <img src="../img/home/jinrongfuwu.png" alt="">
                <div class="life_server_type">
                    <div class="life_server_title">金融服务</div>
                    <div class="life_server_content">信用卡还款、免押金服务</div>
                </div>
            </div>
 <div class="life_server_item">
                <img src="../img/home/zhinengyingjian.png" alt="">
                <div class="life_server_type">
                    <div class="life_server_title">智能硬件</div>
                    <div class="life_server_content">智能门禁</div>
                </div>
            </div>
 <div class="life_server_item">
                <img src="../img/home/jiazhengfuwu.png" alt="">
                <div class="life_server_type">
                    <div class="life_server_title">家政服务</div>
                    <div class="life_server_content">保洁服务、维修服务、搬家服务</div>
                </div>
            </div>
 <div class="life_server_item">
                <img src="../img/home/gouwufuwu.png" alt="">
                <div class="life_server_type">
                    <div class="life_server_title">网购服务</div>
                    <div class="life_server_content">团购</div>
                </div>
            </div>
            <div class="life_server_item">
                <img src="../img/home/jiaoyupeixun.png" alt="">
                <div class="life_server_type">
                    <div class="life_server_title">教育培训</div>
                    <div class="life_server_content">儿童培训</div>
                </div>
            </div>
            <div class="life_server_item_last">
            </div>

        </div>


    </div>
    <div class="policy_info_box">
        <div class="policy_info_label clearfix">
            <div class="fl">
                <label >政策资讯</label>
                <p class="policy_info_P" style="margin-top: 0.04rem;">政策解读，最新资讯</p>
            </div>
            <div class="news_more fr">
                <p style="margin-top:0.05rem">更多</p>
            </div>
        </div>
        <!-- <div class="policy_info_list">
            <div class="policy_info_item ">
                  <div class="policy_info_item_img fl">
                      <img src="../img/index/policy.jpg" alt="">
                  </div>
                  <div class="policy_info_detail fr">
                      <p class="policy_info_title">
                          未来城市与大数据产业分享交流会成功举办
                      </p>
                      <p class="policy_info_content">
                          12月11日，由市城投集团旗下大学城公司主办的“未来城市与大数...
                      </p>
                  </div>
              </div>
        </div>-->
    </div>
    <div class="index_logo hide">
        <img src="../img/logo.svg" alt="">
        <span>城壹宜君</span>
        <p class="index_logo_p">传递信用 | 乐享生活</p>

    </div>
</div>
</body>
<script src="../js/frame/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script>
    $(document).ready(function () {
        /*$("#pickupTime").datetimePicker({
            times: function () {
                return [
                    {
                        values: ['全天','上午', '下午']
                    }
                ];
            },
            value: '',
            onChange:function (picker,values,displayValues) {
                //console.log(picker,values,displayValues)
                stopScroll($('.weui-picker-container'))
            }
        });*/



    /********************首页轮播***********************/
    var swiperTitle = new Swiper('.swiper-title', {
        loop: true,
        autoplay: 2000,//可选选项，自动滑动
        speed: 1000,
        pagination : '.swiper-pagination',
        width: document.documentElement.clientWidth,
        autoplayDisableOnInteraction: false,
        lazyLoading: true,
        paginationType:'bullets',
        lazyLoadingInPrevNext: true,
        lazyLoadingInPrevNextAmount: 4
    });
    var swiperLife = new Swiper('.swiper_life',{
        loop: true,
        pagination : '.swiper-pagination',
        paginationType:'bullets',
        paginationClickable:true,
        autoplay: 2000,
        speed: 1000,
        width: document.documentElement.clientWidth,
        lazyLoading: true,
        lazyLoadingInPrevNext: true,
        lazyLoadingInPrevNextAmount: 4
    });
    /********************最新房源***********************/

    $.ajax({
        url: "../mock/home.json",
        type: "GET",
        dataType: "json",
        success: function(data) {
            var newRoomList = '';
            var lastStr =  '<div class="life_server_item_last">'+
                '</div>'
            $.each(data.newRoom, function(i, item) {
                var  str = '<div class="item">'+
                    '<div class="room_img">'+
                    '<img  src="'+item.img +'" >'+
                    '</div>'+
                    '<p class="room_name">'+item.roomName+'</p>'+
                    '<p class="room_price">￥'+item.roomPrice+'元/月</p>'+
                    '</div>';
                newRoomList += str;
            })
            $(".new_room").append('<div class="new_room_list">'+newRoomList+lastStr+'</div>')
        }
    })
    /********************政策资讯***********************/

        //最后一列空div，展示滑动是间距
    var lastStr =  '<div class="room_type_slide_last">'+
            '</div>'
    $.ajax({
        url: "../mock/home.json",
        type: "GET",
        dataType: "json",
        success: function(data) {
            var policyInfoList = '';
            $.each(data.policyInfo, function(i, item) {
                if(i<3){
                    var  str =  '<div class="policy_info_item">'+
                        '<div class="policy_info_item_img fl">'+
                        '<img src="'+item.policyImg+'" alt="">'+
                        '</div>'+
                        '<div class="policy_info_detail fr">'+
                        '<p class="policy_info_title">'+ item.policyTitle+'</p>'+
                        '<p class="policy_info_data">'+ item.policyData+'</p>'+
//                        '<p class="policy_info_content">'+item.policyContent+'</p>'+
                        '</div>'+
                        '</div>';
//                    var strLength = item.policyTitle;
//                    LimitNumber(strLength,'policy_info_title')
                        policyInfoList += str;
                }
            });
            $(".policy_info_box").append('<div class="policy_info_list">'+policyInfoList+'</div>')
        }
    })
       /* function LimitNumber(txt,className) {
            var str = txt;
            str = str.substr(0,12) + '...' ;
            var className=document.getElementsByClassName(className);
            className.innerText=str;
        }*/

        $(".news_more").click(function(){
            window.location.href = './news/news.html'
        })
        $(".message").click(function(){
            window.location.href = './system_info/system_info_list.html'
        })
        /*$(".policyHouse").click(function(){
            window.location.href = './system_info/system_info_list.html'
        })*/
         $(".conditionSearch").click(function(){
                    window.location.href = './list/house_list.html'
                })
         $(".mapSearch").click(function(){
                    window.location.href = './map_search/map_seach.html'
                })
         /* $(".tongqinzhaofang").click(function(){
            window.location.href = './system_info/system_info_list.html'
        })*/
        $(".ruzhubanli").click(function(){
            $.toast('请添加入住办理的链接')
           /* window.location.href = './appoint_look/appoint_look_room.html'*/
        })
        $(".zhengcezixun").click(function(){
            window.location.href = './news/news.html'
        })
        $(".qiuzufabu").click(function(){
            window.location.href = './renting_info/renting_info.html'
        })
           $(".woyaochuzu").click(function(){
            window.location.href = './i_rent/i_rent.html'
        })

        $("#search_input").click(function (e) {
            e.preventDefault();
            window.location.href = "./list/house_list.html"

        })
           $(".life_server_gengduo").click(function (e) {
            e.preventDefault();
            window.location.href = "./news/life_server.html"

        })

    })


</script>
</html>


