body{
   background:#E8E9ED
}
::-webkit-scrollbar {
    /*display: none;*/
    opacity: 0;
}
.border_bottom:before{
    border: 0 ;
}
.appoint_room{


    width:100%;
    height:0.48rem;
    overflow-y: hidden;
    /*box-sizing: border-box;*/
}
.mock_margin{
    width: 100%;
    height: 0.1rem;
    background: #E8E9ED;
    position: fixed;
    top:0.48rem;
}
.appoint_date_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: middle;
    -ms-flex-align: middle;
    align-items: middle;
    overflow: auto;
    background: #fff;
    padding-top:0.14rem;
    padding-left: 0.09rem;
    /* padding-right: 0.18rem;*/
    box-sizing: border-box;

    height: -webkit-calc(120% + 5px);
}
#appointWrap{
    position: fixed;
    height: 91.3%;
}
.appoint_date_list .item{

    width: 1.11rem;
    height: 0.26rem;
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #666666;
    letter-spacing: 0;
    line-height: 0.26rem;
    text-align: center;
    position: relative;
    text-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.appoint_date_list .active{
    color: #ffffff;
    border-radius: 1rem;
    background-image: linear-gradient(90deg, #FFAB42 0%, #FF8200 100%);
}
.house_list li{
    margin:0.1rem 0;
}
.house_list .house_info{
    padding-right: 0.12rem;
    height: 100%;
}
.weui-swiped-btn_warn{
    background-image: linear-gradient(90deg, #FF7E7D 5%, #FC5455 95%);
    font-family: PingFangSC-Medium;
    font-size: 0.16rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 0.96rem;
}
.weui-swiped-btn_gray{
    background: blue;;
    font-family: PingFangSC-Medium;
    font-size: 0.16rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 0.96rem;
}
.cancel_appoint_warn{
    font-family: PingFangSC-Medium;
    font-size:0.1rem;
    color: rgba(255,255,255,0.60);
    letter-spacing: 0;
    /*line-height: 12px;*/
}
.house_list li .right_state{
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    z-index: 1;
}
