body{
    background: #fff;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-top: 0.75rem;
    box-sizing: border-box;
    /*padding-left: 0.12rem;*/
    /*padding-right: 0.12rem;*/
    background: #fff;
}
.progress{
    height: 0.24rem;
    padding-right: 0.375rem;
    padding-left: 0.375rem;
}
.progress ul{
    width: 100%;
    height: 100%;
    position: relative;
}
.step{
    width: 0.24rem;
    height: 0.24rem;
    background: #FF8200;
    line-height: 0.24rem;
    border-radius: 50% 50%;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    text-align: center;
    color: #fff;
    z-index: 1;
    font-size: 0.14rem;
    position: absolute;
    top:-0.12rem;
    transform: translateX(-50%);
}
.step2,.step4{
    box-sizing: border-box;
    line-height: 0.22rem;
    left:25%;
    background: #fff;
    border: 1px solid #D8D8D8;
    transform: translateX(-50%);
    color: #d8d8d8;
}
.step4{ left:75%;
}
.step2.light,.step3.light,.step5.light{
    background: #FF8200;
}
.step3{
    left:50%;
    background: #d8d8d8;
    transform: translateX(-50%);
}
.step5{
    right: 0;
    background: #dadada;
    transform: translateX(50%);
}
.bg_line{
    top:0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #dadada;
    z-index: 0;
}
.progress_line{
    top:0;
    left: 0;
    background: #FF8200;
    width: 50%;
    height:2px;
    transition: 0.3s ease-in-out;
    z-index: 0;
}
.text1,.text2,.text3,.text4,.text5{
    top:-0.37rem;
    position: absolute;
    font-size: 0.14rem;
}
.text1{
    transform: translateX(-50%);
}
.text2{
    left: 25%;
    color: #d8d8d8;
    transform: translateX(-50%);
    top:0.14rem;
}
.text3{
    left: 50%;
    transform: translateX(-50%);
    color: #d8d8d8;
}
.text4{
    left: 75%;
    color: #d8d8d8;
    transform: translateX(-50%);
    font-size: 0.14rem;
    top:0.14rem;
    white-space: nowrap;
}
.text5{
    right: 0;
    transform: translateX(50%);
    font-size: 0.14rem;
    color: #d8d8d8;
}
.weui-navbar+.weui-tab__bd{
    padding-top: 0;
}
.weui-tab__bd .weui-tab__bd-item{
    overflow: visible;
}
.next,.confirm{
    width: 100%;
    height: 0.48rem;
    margin-top: 0.75rem;
}
.confirm{
    margin-top: 0.37rem;
}
#nextBtn,#confirmBrn{
    background-image: linear-gradient(90deg, #FFAB42 0%, #FF8200 100%);
    border-radius: 0.04rem;
    width: 85%;
    height: 100%;
    color: #fff;
    margin-right: 0.26rem;
    margin-left: 0.26rem;
    font-size: 0.16rem;
}
.link_a{
    display: block;
    font-size: 0.16rem;
    text-align: center;
    line-height: 0.48rem;
}

.text1{
    color: #ff8200;
}
div.form{
    width: 3rem;
    margin: 0 auto;
    height: 1.44rem;
    margin-top: 0.32rem;
}
div.form ul{
    width: 100%;
    height: 100%;
}
div.form li{
    width: 100%;
    height: 50%;
}
div.form li input,#liveYear{
    width: 100%;
    font-size: 0.12rem;
    height: 0.17rem;
    line-height: 0.17rem;
    position: absolute;

    bottom: 0.09rem;
    box-sizing: border-box;
    padding-left:  0.165rem;
    color: #444;
}
.date_icon{
    position: absolute;
    bottom: 0.12rem;
    right: 0.145rem;
}
#liveYear{
    left: 0;
    box-sizing: border-box;
    padding-left:  0.165rem;
    background: #fff;
}
#liveYear+img{
    width: 0.16rem;
    height: 0.12rem;
    position: absolute;
    bottom: 0.12rem;
    right: 0.145rem;
    pointer-events: none;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color:#444;
}
input::-moz-placeholder,textarea::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#444;
}
input:-moz-placeholder,textarea::-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#444;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#444;
}
/*******step3******/
.yzm_btn_span{
    display: block;
    width: 0.88rem !important;
    box-sizing: border-box;
    padding-left: 0 !important;
    height: 0.32rem !important;
    line-height: 0.32rem !important;
    right: 0;
    font-size: 0.12rem;
    text-align: center;
    color: #FF8200;
    white-space: nowrap;
    background: rgba(255,130,0,0.10);
    border: 0 solid #FF8200;
    border-radius: 0.0225rem;
    -moz-border-radius: 0.0225rem;
    -webkit-border-radius: 0.0225rem;
    bottom:0.09rem;
}
.yzm_btn_span:before{
    border:1px solid #ff8200;
}
div.form li .yzm_btn{
    display: block;
    width: 0.88rem !important;
    box-sizing: border-box;
    padding-left: 0 !important;
    height: 0.32rem !important;
    line-height: 0.32rem !important;
    right: 0;
    font-size: 0.12rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    background: rgba(255,130,0,0.10);
    border: 0 solid #FF8200;
    border-radius: 0.0225rem;
    -moz-border-radius: 0.0225rem;
    -webkit-border-radius: 0.0225rem;
    transform: translateY(-50%);
    top:50%;
    color: #FF8200;
}
.host_allow{
    border: 1px solid #ff8200;
    color: #ff8200;
}
.font_org{
    color: #ff8200;
}
/**签约成功****/
.ok_img_wrap{
    width: 100%;
    position: relative;
    margin-top: 0.4rem;
    height: 1.85rem;
    background: #fff;
    text-align: center;

}
.ok_img_wrap img{
    width: 1.64rem;
    height: 1.64rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.ok_text{
    width: 100%;
    font-family: PingFangSC-Regular;
    font-size:0.22rem;
    color: #666666;
    letter-spacing: 0;
    text-align: center;
    line-height: 0.22rem;
    text-align: center;
    margin-top: 0.13rem;
}
.ok_text p{
    width: 100%;
    text-align: center;
}
.ok_text p:first-child{
    font-size: 0.18rem;
    color: #444;
    margin-bottom: 0.21rem;
}
.ok_text p:last-child{
    font-size: 0.12rem;
    color: rgba(0,0,0,.4);
}


/***************step1*************/

.my_room_detail_list{
    width: 100%;
    height: 1.72rem;
    margin-top:0.1rem;
    margin-bottom:0.06rem;
    background: #fff;
    box-sizing: border-box;
}
.house_info_label{
    line-height: 0.5rem;
}
.my_room_detail_list .info_label{
    height:0.5rem;
    padding-right:0.18rem;
    padding-left:0.18rem;

}
.my_room_detail_list .info_label .look_contract_label{
    opacity: 0.3;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    text-align: right;
    line-height: 0.5rem;
}
.look_contract_label{
    margin-left: 0.05rem;
    margin-top: 0.02rem;
}
.isAppointment span{
    font-weight: bold;
    font-family: PingFangSC-Medium;
    font-size: 0.12rem;
    color: #FF8200;
    letter-spacing: 0;
    line-height: 0.12rem;
    opacity:1
}
.contract_data{
    height:0.72rem;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;

    border-bottom:1px solid #f3f2f0;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0.10);
    padding-top:0.16rem;
    padding-left:0.18rem;
}
.pay_type{
    height:0.72rem;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-bottom:1px solid #f3f2f0;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0.10);
    padding-top:0.16rem;
    padding-left:0.18rem;
}
.pay_data,.pay_data,pay_money{
    width:49%;
    height: 0.40rem;
    /*line-height: 0.40rem;*/
}
.pay_data{
    border-right:1px solid #f3f2f0;
}

.contract_data p,.pay_type p{
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #828598;
    letter-spacing: 0;
    /*line-height: 0.14rem;*/
}
.contract_data div,.pay_money div,.pay_data div{
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #FF8200;
    letter-spacing: 0;
    /*line-height: 0.14rem;*/
}
/******租户信息*******/
.mock_margin {
    width: 100%;
    height: 0.1rem;
    background: #E8E9ED;
}
.orther_info{
    display: flex;
   display: -webkit-flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
.orther_info .info_item{
    width: 40%;
}
.info_item span{
    display: inline-block;
}
.person_form{
    height: auto;
}
.call{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

   /* background-image: linear-gradient(90deg, #FFAB42 0%, #FF8200 100%);*/
   /* box-shadow: 0 2px 8px 0;*/
    right: 0.02rem;
   /* top:1.2rem;*/
    bottom: 1.5rem;
    /*box-shadow: 1px 1px 8px rgba(255,76,0,0.5), 1px 1px 8px rgba(255,76,0,0.5),1px 1px 8px rgba(255,76,0,0.5),1px 1px 8px rgba(255,76,0,0.5)*/
}
.call img{
   width: 100%;
    height: 100%;
}

.stepImg{
    height: 370px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.25rem;
    border-top:1px solid #eeeeee;
}
.stepImg img{
    height: 2.59rem;
    width: 2.94rem;
    margin: 0 auto;
    margin-top: 0.43rem;
    display: block;

}

/*****新增信息******/
html, body{
    background:#fff
}
::-webkit-scrollbar {
    opacity: 0;
}
.my_room_detail{
    width:100%;
    height: 100%;
}
.my_room_detail_list{
    width: 100%;
    height: 1.72rem;
    /*margin-top:0.1rem;*/
    /*margin-bottom:0.06rem;*/
    background: #fff;
    box-sizing: border-box;
}
.my_room_detail_list .info_label{
    /*height:0.5rem;*/
    padding-right:0.18rem;
    padding-left:0.18rem;
    padding-top: 22px;

}
.my_room_detail_list .info_label .house_info_label,.person_info_label{
    font-family: PingFangSC-Medium;
    font-size: 0.18rem;
    color: #444444;
    letter-spacing: 0;
    /*line-height: 0.5rem;*/
}
.my_room_detail_list .info_label .look_contract_label{
    font-family: PingFangSC-Medium;
    font-size: 0.14rem;
    color: #FF8200;
    letter-spacing: 0;
    text-align: right;
    line-height: 0.5rem;
}

.about{
    box-sizing: border-box;
    height: 0.5rem;
    box-sizing: border-box;
    background: #FFFFFF;
    margin-top: 0.08rem;
    margin-bottom: 0.15rem;
}
.touxiang{
    display: inline-block;
    border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border: 2px solid #ffca42;
}
.touxiang img{
    width: 0.443rem;
    height: 0.443rem;
    border-radius: 50% 50%;
    vertical-align: top;
}

.person_form{
    width:100%;

    background: #fff;
    box-sizing: border-box;

    position: relative;
}
.person_name{
    margin-right: 15px;
    margin-top: 0px;
}
.star{
    opacity: 0.4;
    font-family: PingFangSC-Regular;
    font-size: 0.12px;
    color: #000000;
    letter-spacing: 0;
    margin-top: 5px;
}
.person_label{
    margin-top: 10px;
}
.person_label p{
    background: rgba(255,130,0,0.10);
    border-radius: 1px;
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #FF8200;
    letter-spacing: 0;
    line-height: 10px;
    padding: 0.05rem;
    margin-right: 0.05rem;

}
.info_item{
    /*margin-top:0.2rem;*/
    margin-bottom:0.1rem;
}

.info_item span {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 14px;
}
.info_item span:first-child{
    margin-right:0.2rem;
}
.person_icon{
    position: relative;
}
.certified{
    position: absolute;
    top: 33px;
    left: 33px;
    width:0.14rem!important;
    height:0.14rem!important;
}
.btn_group{
    width: 100%;
    height: 0.48rem;
    background: #FFFFFF;
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.10);
    padding: 0.12rem 0.15rem;
    position: absolute;
}
.reject_btn{
    width:1.1rem;
    height:0.44rem;
    background: #CCCCCC;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 0.16rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 0.16rem;
    margin-right: 7px;

}
.contact_rent{
    width:2.2rem;
    height:0.44rem;
    background-image: linear-gradient(90deg, #FFAB42 0%, #FF8200 100%);
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 0.14rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 0.14rem;
    /*margin-top: 28px;*/
}
.person_info{
    margin-left:0.1rem;
}
.my_income{
    width:100%;
    height:1.55rem;
    background: #fff;
    margin-bottom:0.08rem;
    padding-left:0.16rem;
    padding-right:0.16rem;
    box-sizing: border-box;
}
.my_income .title{
    font-family: PingFangSC-Medium;
    font-size: 0.18rem;
    color: #444444;
    letter-spacing: 0;
    line-height: 0.65rem;
}
.my_income .title span{
    font-family: PingFangSC-Medium;
    font-size: 0.14rem;
    color:rgba(0,0,0,.4);
    letter-spacing: 0;
}
.my_income .title img{
    opacity: 0.6 !important;
    width: 0.06rem !important;
    height: 0.1rem !important;
    margin-left: 0.14rem !important;
}
.my_income  .name{
    width: 2.19rem;
    height: 0.13rem;
    white-space: nowrap;
    font-family: PingFangSC-Regular;
    font-size: 0.13rem;
    color: #444444;
    letter-spacing: 0;
    line-height: 0.13rem;
    margin-bottom: 0.05rem;
}
.my_income .time{
    font-family: PingFangSC-Regular;
    width:100%;
    box-sizing: border-box;
    font-size: 0.14rem;
    color: #666666;
    letter-spacing: 0;
    line-height: 14px;
    padding-top: 0.1rem;
}
.my_income .time span{
    margin-left: 1.4rem;
}
.my_income  .add_inroom{
    font-family: PingFangSC-Regular;
    font-size:  0.14rem;
    color: #666666;
    letter-spacing: 0;
    line-height: 0.35rem;
}
.house_list img.right_state{
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.call_icon{
    width: 0.64rem;
    height: 0.64rem;
    position: absolute;
    bottom: 1.5rem;
    left: 2.95rem;
}
.call_icon img{
    width: 0.64rem;
    height: 0.64rem;

}
.person_info{
    padding-top: 0.06rem!important;
}
.mock_margin_10{
    width: 100%;
    height: 0.1rem;
    background: #e8e9ed;
}
.mock_margin_6{
    width: 100%;
    height: 0.06rem;
    background: #e8e9ed;
}
/*剩余时间*/
.finalTime{
    font-size: 0.12rem;
    padding-left: 0.18rem;
    line-height: 0.18rem;
    color:#666666
}
.finalTime span{
    color:#FF0000;
}
