body{
    background:#eaeaeb
}
::-webkit-scrollbar {
    opacity: 0;
}
.my_room_detail{
    width:100%;
    background: #fff;
    padding-bottom: 0.7rem;
}
.my_room_detail_list{
    width: 100%;
    height: 1.72rem;
    margin-top:0.1rem;
    margin-bottom:0.06rem;
    background: #fff;
    box-sizing: border-box;
}
.house_info_label{
    line-height: 0.5rem;
}
.my_room_detail_list .info_label{
    height:0.5rem;
    padding-right:0.18rem;
    padding-left:0.18rem;

}
.my_room_detail_list .info_label .look_contract_label{
    opacity: 0.3;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    text-align: right;
    line-height: 0.5rem;
}
.look_contract_label{
    margin-left: 0.05rem;
    margin-top: 0.02rem;
}
.isAppointment span{
    font-weight: bold;
    font-family: PingFangSC-Medium;
    font-size: 0.12rem;
    color: #FF8200;
    letter-spacing: 0;
    /*line-height: 0.12rem;*/
    opacity:1
}
.contract_data{
    height:0.72rem;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-top:1px solid rgba(0,0,0,0.10);
    border-bottom:1px solid #f3f2f0;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0.10);
    padding-top:0.16rem;
    padding-left:0.18rem;
}
.pay_type,.renew_message,.reject_reason,.cancel_reason{
    height:0.72rem;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-bottom:1px solid #f3f2f0;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0.10);
    padding-top:0.16rem;
    padding-left:0.18rem;
}
.pay_data,.pay_data,pay_money{
    width:49%;
    height: 0.40rem;
    /*line-height: 0.40rem;*/
}
.pay_data{
    border-right:1px solid #f3f2f0;
}

.contract_data p,.pay_type p{
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #828598;
    letter-spacing: 0;
    /*line-height: 0.14rem;*/
}
.contract_data div,.pay_money div,.pay_data div{
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #FF8200;
    letter-spacing: 0;
    /*line-height: 0.14rem;*/
}
/***************step1*************/

.my_room_detail_list{
    width: 100%;
    height: 1.72rem;
    margin-top:0.1rem;
    margin-bottom:0.06rem;
    background: #fff;
    box-sizing: border-box;
}
.house_info_label{
    line-height: 0.5rem;
}
.my_room_detail_list .info_label{
    height:0.5rem;
    padding-right:0.18rem;
    padding-left:0.18rem;

}
.my_room_detail_list .info_label .look_contract_label{
    opacity: 0.3;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    text-align: right;
    line-height: 0.5rem;
}
.look_contract_label{
    margin-left: 0.05rem;
    margin-top: 0.02rem;
}
.isAppointment span{
    font-weight: bold;
    font-family: PingFangSC-Medium;
    font-size: 0.12rem;
    color: #FF8200;
    letter-spacing: 0;
    /*  line-height: 0.12rem;*/
    opacity:1
}
.contract_data{
    height:0.72rem;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;

    border-bottom:1px solid #f3f2f0;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0.10);
    padding-top:0.16rem;
    padding-left:0.18rem;
}
.pay_type{
    height:0.72rem;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-bottom:1px solid #f3f2f0;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0.10);
    padding-top:0.16rem;
    padding-left:0.18rem;
}
.pay_data,.pay_data,pay_money{
    width:49%;
    height: 0.40rem;
    /*line-height: 0.40rem;*/
}
.pay_data{
    border-right:1px solid #f3f2f0;
}

.contract_data p,.pay_type p{
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #828598;
    letter-spacing: 0;
    /*line-height: 0.14rem;*/
}
.contract_data div,.pay_money div,.pay_data div{
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #FF8200;
    letter-spacing: 0;
    /*line-height: 0.14rem;*/
}
/******租户信息*******/
.mock_margin {
    width: 100%;
    height: 0.1rem;
    background: #E8E9ED;
}
.orther_info{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
.orther_info .info_item{
    width: 40%;
}
.info_item span{
    display: inline-block;
}
.person_form{
    height: auto;
}
.call{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    /* background-image: linear-gradient(90deg, #FFAB42 0%, #FF8200 100%);*/
    /* box-shadow: 0 2px 8px 0;*/
    right: 0.02rem;
    top:1.2rem;
    /*box-shadow: 1px 1px 8px rgba(255,76,0,0.5), 1px 1px 8px rgba(255,76,0,0.5),1px 1px 8px rgba(255,76,0,0.5),1px 1px 8px rgba(255,76,0,0.5)*/
}
.call img{
    width: 100%;
    height: 100%;
}

.stepImg{
    height: 370px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.25rem;
    border-top:1px solid #eeeeee;
}
.stepImg img{
    height: 2.59rem;
    width: 2.94rem;
    margin: 0 auto;
    margin-top: 0.43rem;
    display: block;

}

/*****新增信息******/
html, body{
    background:#fff
}
::-webkit-scrollbar {
    opacity: 0;
}
.my_room_detail{
    width:100%;
    height: 100%;
}
.my_room_detail_list{
    width: 100%;
    height: 1.72rem;
    /*margin-top:0.1rem;*/
    /*margin-bottom:0.06rem;*/
    background: #fff;
    box-sizing: border-box;
}
.my_room_detail_list .info_label{
    /*height:0.5rem;*/
    padding-right:0.18rem;
    padding-left:0.18rem;

}
.my_room_detail_list .info_label .house_info_label,.person_info_label{
    font-family: PingFangSC-Medium;
    font-size: 0.18rem;
    color: #444444;
    letter-spacing: 0;
    /*line-height: 0.5rem;*/
}
.my_room_detail_list .info_label .look_contract_label{
    font-family: PingFangSC-Medium;
    font-size: 0.14rem;
    letter-spacing: 0;
    text-align: right;
    line-height: 0.5rem;
}

.about{
    box-sizing: border-box;
    height: 0.5rem;
    box-sizing: border-box;
    background: #FFFFFF;
    margin-top: 0.08rem;
    margin-bottom: 0.15rem;
}
.touxiang{
    display: inline-block;
    border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border: 2px solid #ffca42;
}
.touxiang img{
    width: 0.443rem;
    height: 0.443rem;
    border-radius: 50% 50%;
    vertical-align: top;
}

.person_form{
    width:100%;

    background: #fff;
    box-sizing: border-box;

    position: relative;
}
.person_name{
    margin-right: 15px;
    margin-top: 0px;
}
.star{
    opacity: 0.4;
    font-family: PingFangSC-Regular;
    font-size: 0.12px;
    color: #000000;
    letter-spacing: 0;
    margin-top: 5px;
}
.person_label{
    margin-top: 10px;
}
.person_label p{
    background: rgba(255,130,0,0.10);
    border-radius: 1px;
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #FF8200;
    letter-spacing: 0;
    line-height: 10px;
    padding: 0.05rem;
    margin-right: 0.05rem;

}
.info_item{
    /*margin-top:0.2rem;*/
    margin-bottom:0.1rem;
}

.info_item span {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 14px;
}
.info_item span:first-child{
    margin-right:0.2rem;
}
.person_icon{
    position: relative;
}
.certified{
    position: absolute;
    top: 33px;
    left: 33px;
    width:0.14rem!important;
    height:0.14rem!important;
}
.btn_group{
    width: 100%;
    height: 0.48rem;
    background: #FFFFFF;
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.10);
    padding: 0.12rem 0.15rem;
    position: absolute;
}
.reject_btn{
    width:1.1rem;
    height:0.44rem;
    background: #CCCCCC;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 0.16rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 0.16rem;
    margin-right: 7px;

}
.contact_rent{
    width:2.2rem;
    height:0.44rem;
    background-image: linear-gradient(90deg, #FFAB42 0%, #FF8200 100%);
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 0.14rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 0.14rem;
    /*margin-top: 28px;*/
}
.person_info{
    margin-left:0.1rem;
}
.my_income{
    width:100%;
    height:1.55rem;
    background: #fff;
    margin-bottom:0.08rem;
    padding-left:0.16rem;
    padding-right:0.16rem;
    box-sizing: border-box;
}
.my_income .title{
    font-family: PingFangSC-Medium;
    font-size: 0.18rem;
    color: #444444;
    letter-spacing: 0;
    line-height: 0.65rem;
}
.my_income .title span{
    font-family: PingFangSC-Medium;
    font-size: 0.14rem;
    color:rgba(0,0,0,.4);
    letter-spacing: 0;
}
.my_income .title img{
    opacity: 0.6 !important;
    width: 0.06rem !important;
    height: 0.1rem !important;
    margin-left: 0.14rem !important;
}
.my_income  .name{
    width: 2.19rem;
    height: 0.13rem;
    white-space: nowrap;
    font-family: PingFangSC-Regular;
    font-size: 0.13rem;
    color: #444444;
    letter-spacing: 0;
    line-height: 0.13rem;
    margin-bottom: 0.05rem;
}
.my_income .time{
    font-family: PingFangSC-Regular;
    width:100%;
    box-sizing: border-box;
    font-size: 0.14rem;
    color: #666666;
    letter-spacing: 0;
    line-height: 14px;
    padding-top: 0.1rem;
}
.my_income .time span{
    margin-left: 1.4rem;
}
.my_income  .add_inroom{
    font-family: PingFangSC-Regular;
    font-size:  0.14rem;
    color: #666666;
    letter-spacing: 0;
    line-height: 0.35rem;
}
.house_list img.right_state{
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.call_icon{
    width: 0.64rem;
    height: 0.64rem;
    position: absolute;
    top:0.54rem;
    left: 2.95rem;
}
.call_icon img{
    width: 0.64rem;
    height: 0.64rem;

}
.person_info{
    padding-top: 0.06rem!important;
}
.mock_margin_10{
    width: 100%;
    height: 0.1rem;
    background: #e8e9ed;
}
.mock_margin_6{
    width: 100%;
    height: 0.06rem;
    background: #e8e9ed;
}
/**续约失败*/
.price{
    font-size: 0.12rem;
}
.renew_title{
    width: 0.36rem;
    line-height: normal;
    font-family: PingFangSC-Regular;
    font-size: 0.18rem;
}
.renew_message_items,.reject_reason_items{
    margin-left: 0.1rem;
    width: calc(100% - 0.6rem);

}
.renew_date {
    margin-top: 0.06rem;
    margin-bottom: 0.08rem;
}
.reject_reason{
    height: auto;
    padding-bottom: 0.2rem;
}
.reason_reason_detail{
    line-height: 0.2rem;
    margin-top: 0.02rem;
}
.renew_message_items .font_org{
    margin-left: 0.08rem;
}
.renew_bill .font_org{
    margin-left: 0;
}
.renew_bill{
    margin-left: 0.08rem;
}
.reject_date{
    position: absolute;
    bottom:0.02rem;
    right: 0.18rem;
    text-align: right;
}
/*已解约详情**/
.cancel_reason{
    padding-bottom: 0.18rem;
    height: auto;
}
.cancel_date{
    margin-left: 0.1rem;
    font-size: 0.14rem;
    height: 0.14rem;
    line-height: 0.14rem;
}
#agreeDiv{
    margin-left: 0.18rem;
}
.w_auto{
    width: auto; !important;
}