/*问题反馈样式表*/
body{
    background: #fff;
    font-family: PingFangSC-Regular;
}
.header_box{
    height:0.48rem;
    line-height: 0.48rem;
    text-align: center;
    position: fixed;
    font-size:0.2rem;
    color: #030303;
    letter-spacing: -0.48px;
    background:#fff;
    width:100%;
    z-index: 10;
    border-bottom: 0.1rem solid #f1f1f1;
}
.header_box .back{
    width: 0.12rem;
    top:50%;
    left: 0.14rem;
    position: absolute;
    transform: translateY(-50%);
}
.header_box .fill_btn{
    width: 0.2rem;
    top:50%;
    right: 0.19rem;
    position: absolute;
    transform: translateY(-50%);
}
.header_box a{
    position: absolute;
    display: block;
    right:0px;
    top:0px;
    font-weight: normal;
    font-size: 0.14rem;
    padding-right:0.16rem;
    color: #464646;
    letter-spacing: -0.42px;
}
.offerHeight{
    height:0.58rem;
    width: 100%;
}
/*问题填写*/
.problem_box{
    padding:0.08rem 0.14rem;
    background: #fff;
    padding-bottom: 0.02rem;
}
.problem_box textarea{
    display: block;
    resize: none;
    width:100%;
    font-size: 0.14rem !important;
    line-height: 0.22rem;
    text-align: justify;
    color:#3B3B3B ;
}
.problem_box textarea::-webkit-input-placeholder{
    color:#B9B9B9;
    font-size: 0.16rem;
}
.add_box1{
    padding:0px 0.12rem;
    height:0.29rem;
    background: #fff;
    padding-bottom: 0.1rem;
}
.add_box1 span{
    position: relative;
    font-size: 0.14rem;
    color: #3B3B3B;
    background: #F4F4F4;
    border-radius:0.15rem;
    height:0.29rem;
    line-height: 0.29rem;
    box-sizing: border-box;

}
.add_box1 span{
    float:right;
    padding:0px 0.2rem 0px 0.36rem;
}
.add_box1 span:before{
    content:"";
    display: block;
    width:0.17rem;
    height:0.17rem;
    background:url("../img/feedback/Bitmap2.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:0.06rem;
    left:0.12rem;
}
#sumbit_btn{
    display: block;
    width:100%;
    position: fixed;
    bottom:0px;
    left:0px;
    background: #FF7911;
    height:0.56rem;
    line-height: 0.56rem;
    font-size: 0.18rem;
    text-align: center;
    color:#fff;
}
/*我的反馈*/
#pro_list .pro_card:nth-child(1) .card_hd{
    display: none;
}
.card_hd{
    cursor: pointer;
}
.card_hd .box1{
    padding:0.2rem 0.12rem 0.1rem 0.14rem;
    overflow: hidden;
}
.card_hd .box1 img{
    float:left;
    width:1.06rem;
    height:1.06rem;
    border-radius: 0.1rem;
}
.card_hd .box1 .words_box{
    float:right;
    width:2.33rem;
}
.card_hd .box1 .words_box h4{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:#3B3B3B;
    line-height: 0.2rem;
    height: 0.2rem;
    font-size: 0.14rem;
    font-weight: normal;
    margin-bottom: 0.03rem;
}
.card_hd .box1 .words_box>p{
    font-size:0.12rem;
    color: #757575;
    line-height: 0.17rem;
    text-align:justify;
    height:0.68rem;
    overflow: hidden;
    margin-bottom: 0.01rem;
}
.card_hd .box1 .words_box .add_info{
    height: 0.2rem;
    overflow: hidden;
}
.card_hd .box1 .words_box .add_info span{
    line-height: 0.2rem;
    font-size: 0.12rem;
    color:#3E3E3E;
    float:left;
    position: relative;
}
.card_hd .box1 .words_box .add_info span:nth-child(2){
    float: right;
    padding-left:0.19rem;
}
.card_hd .box1 .words_box .add_info span:nth-child(2):before{
    content:"";
    display: block;
    width:0.15rem;
    height:0.15rem;
    background:url("../img/feedback/Bitmap4.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:0.03rem;
    left:0rem;
}
.card_hd .box2{
    height:0.28rem;
}
.card_hd .box2 img{
    display: block;
    margin:0 auto;
    width:0.14rem;
    position: relative;
    top:0.07rem;
}
.card_bd{
    display: none;
    padding-top:0.1rem;
}
#pro_list .pro_card:nth-child(1) .card_bd{
    display: block;
}
.card_bd .outer{
    padding:0px 0.12rem;
}
.card_bd .box1{
    height: 0.2rem;
    overflow: hidden;
    padding:0px 0.04rem 0.05rem 0.02rem;
    border-bottom: 1px solid #DBDBDB;
}
.card_bd .box1 span{
    line-height: 0.2rem;
    font-size: 0.14rem;
    color:#3b3b3b;
    float:left;
    position: relative;
}
.card_bd .box1 span:nth-child(2){
    float: right;
    padding-left:0.18rem;
}
.card_bd .box1 span:nth-child(2):before{
    content:"";
    display: block;
    width:0.13rem;
    height:0.18rem;
    background:url("../img/feedback/Bitmap5.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:0.01rem;
    left:0rem;
}
.card_bd .box2{
    padding:0.13rem 0.04rem 0px 0.04rem;
}
.card_bd .box2 p{
    font-size:0.16rem;
    color: #3B3B3B;
    line-height:0.2rem;
}
.card_bd .box2 .imgs_box{
    padding-top:0.2rem;
    margin-bottom: 0.13rem;
    overflow: hidden;
}
.card_bd .box2 .imgs_box img{
    float: left;
    width:1.06rem;
    height: 1.06rem;
    border-radius: 0.1rem;
    margin-right:0.1rem;
}
.card_bd .box2 .imgs_box img:nth-child(3){
    margin-right: 0px;
}
.card_bd .box2 .add_info{
    height:0.2rem;
    padding-right: 0.04rem;
    padding-bottom: 0.08rem;
    border-bottom: 0.08rem solid #F5F5F5;
    margin-bottom: 0.12rem;
}
.card_bd .box2 .add_info span{
    float: right;
    font-size:0.14rem;
    color: #565656;
    position: relative;
    padding-left:0.22rem;
    line-height: 0.2rem;
}
.card_bd .box2 .add_info span:before{
    content:"";
    display: block;
    width:0.17rem;
    height:0.17rem;
    background:url("../img/feedback/Bitmap4.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:0.02rem;
    left:0rem;
}
.card_bd .box3 p{
    height:0.2rem;
    line-height: 0.2rem;
    font-size:0.14rem;
    color: #3B3B3B;
    position: relative;
    padding-left:0.2rem;
    margin-bottom: 0.13rem;
}
.card_bd .box3 p:before{
    content:"";
    display: block;
    width:0.07rem;
    height:0.07rem;
    border-radius:50%;
    background:#ff8800;
    position: absolute;
    top:0.06rem;
    left:0.06rem;
}
.card_bd .box3 ul{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.09rem;
}
.card_bd .box3 ul li{
    width:0.45rem;
    height:0.45rem;
    border-radius: 50%;
    line-height:0.45rem;
    text-align: center;
    color:#fff;
    font-size: 0.12rem;
    background: rgba(191,191,191,0.80);
    float:left;
    position: relative;
}
.card_bd .box3 ul li:before{
    content:"";
    display: block;
    width:0.41rem;
    height:0.03rem;
    background: rgba(191,191,191,0.80);
    position: absolute;
    top:0.21rem;
    left:-0.49rem;
    z-index: 3;
}
.card_bd .box3 ul li.accept{
    background: rgba(255,121,17,0.80);
}
.card_bd .box3 ul li.accept:before{
    content:"";
    display: block;
    width:0.41rem;
    height:0.03rem;
    background: rgba(255,121,17,0.80);
    position: absolute;
    top:0.21rem;
    left:-0.49rem;
    z-index: 3;
}
.card_bd .box3 ul li.accept:after{
    content:"";
    display: block;
    width:0.205rem;
    height:0.03rem;
    background: rgba(255,121,17,0.80);
    position: absolute;
    top:0.21rem;
    left:0.53rem;
    z-index: 4;
}
.card_bd .box4 p:nth-child(1){
    padding:0.04rem 0.02rem;
    position: relative;
    line-height: 0.23rem;
    font-size:0.14rem;
    color: #474747;
    text-indent:1.4em;
    text-align: justify;
}
.card_bd .box4 p:nth-child(1):before{
    content:"";
    display: block;
    width:0.13rem;
    height:0.15rem;
    background:url("../img/feedback/san.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:0.08rem;
    left:0.04rem;
}
.card_bd .box4 p:nth-child(2){
    text-align: right;
    font-size:0.14rem;
    color: #838383;
}
.card_bd .card_close_btn{
    height:0.28rem;
    cursor: pointer;
}
.card_bd .card_close_btn img{
    display: block;
    margin:0 auto;
    width:0.14rem;
    position: relative;
    top:0.07rem;
}
/*图片上传区域*/
.upload_op_area{
    width: 100%;
    /* opacity: 0.4;*/
    border-radius: 0.02rem;
    -webkit-border-radius: 0.02rem;
    -moz-border-radius: 0.02rem;
    position: relative;
}

.upload_op_area label{
    opacity: 1 !important;
    font-size: 0.12rem;
    width: 1.28rem;
    height: 0.96rem;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 0.02rem;
    -webkit-border-radius: 0.02rem;
    -moz-border-radius: 0.02rem;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin: auto;
    z-index: 1231;
}
.upload_op_area label>div{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.upload_op_area label img{
    width: 0.32rem;
    height: 0.32rem;

}
.upload_op_area label span{
    margin-right: 0 !important;
    display: block;
    font-family: PingFangSC-Regular;
    font-size: 0.12rem;
    color: #444444 !important;
    letter-spacing: 0;
    text-align: center;
    line-height: 0.12rem;
    height: 0.12rem;
}
i{
    color: #FF8200;
    font-style: normal;
}
.note{
    opacity: 0.4;
    font-family: PingFangSC-Regular;
    font-size:0.12rem;
    color: #000000;
    letter-spacing: 0;
    line-height: 0.12rem;
    margin-bottom: 0.18rem;
}

/*其他**/
#rentForm>div>p {
    font-size: 0.18rem;
    color: #444;
    margin-top: 0.32rem;
}
/**选中状态**/
.uplaod_tab>div.selected{
    color: #ff8200;
    border-bottom: 1px solid #ff8200;
}
.mock_checkbox.choosed{
    background: url("../img/house_detail/duigou_bg_icon.png") !important;
    background-size: 100% 100% !important;
}
.mock_checkbox.choosed:before{
    border: 0px solid #ff8200 !important;
}
.weui-uploader__input-box{
    background: url("../img/feedback/add.png");
    background-repeat:no-repeat ;
    background-size: 100% 100%;
    background-position: center center;
    border: none;
    position: relative;
}
.weui-uploader__input-box span{
    position: absolute;
    width: 100%;
    font-size: 0.12rem;
    color:#ccc;
    text-align: center;
    line-height: 0.2rem;
    bottom: 0.06rem;
    left: 0px;
}
.weui-uploader__input-box:after, .weui-uploader__input-box:before{
    width: 0;
}
.weui-cell{
    justify-content: space-between;
    padding:0.1rem 0px;
}
.weui-uploader__file{
    width:0.8rem;
    height:0.8rem;
    margin-right:0.08rem;
    margin-bottom: 0.1rem;
    border-radius: 0.1rem;
}
.weui-uploader__bd{
    margin-right: 0px;
    margin-bottom: 0px;
}
.weui-uploader__input-box{
    margin-right: 0px;
    margin-bottom: 0px;
    width:0.8rem;
    height:0.8rem;
}
.weui-cells:before{
    border:0px;
    height:0px;
}
.weui-cells:after{
    border:0px;
    height:0px;
}
/*平台意见反馈样式new*/
.kinds_box{
    position: fixed;
    width:100%;
    height:100%;
    background: rgba(45,45,45,0.50);
    z-index: 11;
    top:0px;
    left:0px;
    display: none;
}
.kinds_box ul{
    position: absolute;
    left:0px;
    bottom: 0px;
    width:100%;
}
.kinds_box ul li{
    background: #fff;
    line-height: 0.5rem;
    text-align: center;
    color:#666;
}
.pro_card{
    background: #fff;
    margin-bottom: 0.2rem;
}