.w124{
    width: 1.24rem !important;
}
.default{
    background: rgba(255,130,0,0.20) !important;
    opacity: 1 !important;
    color: #fff !important;
    border: none !important;
}
.sanjiao{
    position:absolute;
    height: 6px;
    width: 8px;
    left: 42%;
    bottom: -5px;
}

.default a{
    color: #fff !important;
}
html,body{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height:0.44rem;
    background: rgba(255,255,255,1);
    position: fixed;
    top:0;
    z-index: 1;
}
.pop_header{
    width: 100%;
    height:0.44rem;
    background: rgba(255,255,255,1);
    position: relative;
}
.back{
    width: 0.16rem;
    top:50%;
    left: 0.14rem;
    position: absolute;
    transform: translateY(-50%);
}
.filter_icon{
    width: 0.2rem;
    height: 0.21rem;
    position: absolute;
    right: 0.12rem;
    top:50%;
    transform: translateY(-50%);
}
.header .search_wrap{
    background: #F1F1F1;
    border: 0 solid rgba(0,0,0,0.10);
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    width: 2.89rem;
    height: 0.32rem;
    line-height: 0.32rem;
    margin: 0 auto;
    position: absolute !important;
    left:50%;
    top:50%;

    transform: translate(-50%,-50%);
}
.header .search_wrap:before{
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
}
.header .search_wrap input,#searchPopSearch{

    width: 100%;
    height: 0.24rem;
    outline: none;
    border: none;
    background: #F1F1F1;
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: rgba(0,0,0,.4);
    line-height: 0.14rem;
    padding-left: 0.32rem;
    box-sizing: border-box;
    line-height:0.24rem;
    margin-top: 0.05rem;
}
.header .search_wrap img,.searchPop_wrap  img {
    width: 0.14rem;
    height: 0.14rem;
    position: absolute;
    left: 0.09rem;
    top:0.09rem;
}
#mapDiv{
    margin-top:  0  !important;
    padding-top: 0.44rem;

}
.mask{
    height:100%;
    width: 100%;
    overflow: auto;
    position: fixed !important;
    background:rgba(0,0,0,.4);
    top:0;
    right:0;
    transform: translateX(100%);
    z-index: 999;
    transition: 0.11s linear;
}
.wrap_ul{
    padding-bottom: 1.18rem !important;
}
.orther_area{
  height:100%;
  width:3rem;
    position: fixed;
    right:0%;
    top:0;
  overflow: auto;
    background: #fff;


}
.orther_area>div:first-child{
    padding-bottom: 0rem;
}
.orther_area ul{
    padding-left: 0.18rem;
    padding-right: 0.08rem;
    width: 100%;
    box-sizing: border-box;
}
.orther_area ul{
    margin-top: 0.14rem;
}
.orther_area ul li{
    cursor: none;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 0.04rem;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius:0.04rem;
    width: 0.79rem;
    height: 0.34rem;
    line-height: 0.34rem;
    opacity: 0.4;
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    margin-right: 0.06rem;
    margin-bottom: 0.07rem;
    box-sizing: border-box;
    white-space: nowrap;
    box-sizing: border-box;
}
.orther_area .selected{
    background: rgba(255,130,0,0.10);
    border: 1px solid #ff8200;
    border-radius: 0.04rem;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius:0.04rem;
    color: #ff8200;
    opacity: 1;
    box-sizing: border-box;
}
.orther_area>div>div{
    padding-top: 0.2rem;
    box-sizing: border-box;
    width: 100%;
    height: 1.86rem;
}
.orther_area .house_type{
    height: 1.44rem;
}
.orther_title{
    width: 100%;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #444444;
    letter-spacing: 0;
    text-align: center;
    height: 0.14rem;
    line-height: 0.14rem;
}
.house_type ul li{
    line-height: 0.35rem;
}
.house_acreage ul li{
    line-height: 0.26rem;
}
.border_bottom:before{
    border-color: rgba(0,0,0,.1);
}
.order_area{
    background: rgba(0,0,0,.5);
}
.order_area .order_card{
    width: 100%;
    background: #fff;
    height: auto;
    position: absolute;
    top:0;
    z-index: 9;
    padding-bottom: 4px;
}
.order_area .order_card li{
    width: 100%;
    height: 0.44rem;
    line-height: 0.44rem;
    box-sizing: border-box;
    line-height: 0.44rem;
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #444444;
    letter-spacing: 0;
    text-align: center;

}
.orther_btns{
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.10);
    width: 3rem;
    height:0.68rem;
    position: absolute !important;
    bottom:0;
    right:0;
    padding-top: 0.12rem;
    box-sizing: border-box;
    z-index: 99
}
.clear{
    float: left;
    outline: none;
    border: none;
    background: #CCCCCC;
    border-radius: 0.04rem;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius:0.04rem;
    width: 0.85rem;
    height: 0.44rem;
    font-size: 0.16rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 0.44rem;
    margin-left: 0.15rem;
}
.confirm{
    float: left;
    margin-left: 0.15rem;
    outline: none;
    border: none;
    background-image: linear-gradient(90deg, #FFAB42 0%, #FF8200 100%);
    border-radius: 0.04rem;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius:0.04rem;
    width: 1.7rem;
    height: 0.44rem;
    font-size: 0.16rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 0.44rem;
}
#searchPop{
    background: #fff;
    width: 100%;
}
.weui-popup__overlay,.weui-popup__modal{
    background: #fff;
}
.searchPop_wrap{
    background: #F1F1F1;
    border: 0 solid rgba(0,0,0,0.10);
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    width: 3.03rem;
    height: 0.32rem;
    line-height: 0.32rem;
    margin: 0 auto;
    position: absolute !important;
    left:0.14rem;
    top:50%;
    transform: translateY(-50%);

}
.pop_header{
    background: #FFFFFF;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0.10);
}
.pop_cancel{

    height:0.14rem;
    position: absolute;
    right: 0.12rem;
    top: 50%;
    transform: translateY(-50%);
    font-size:0.14rem;
    color: #444444;
    letter-spacing: 0;
    text-align: center;
    line-height: 0.14rem;
}
.search_history{
    padding: 0.3rem 0.14rem;
    box-sizing: border-box;
}
.no_history_img{
    width: 2.85rem;
    display: block;
    margin: 0 auto;
}
#houseListPop{
    height: 70%;
}
.house_list_header{
width: 100%;
    height: 0.85rem;
    padding: 0.24rem 0.12rem 0.16rem 0.12rem;
    box-sizing: border-box;
}
.building_name{
    font-family: PingFangSC-Medium;
    font-size: 0.18rem;
    color: #444444;
    letter-spacing: 0;
    line-height: 0.18rem;
}
.building_count{
    opacity: 0.4;
    font-family: PingFangSC-Regular;
    font-size: 0.12rem;
    color: #000000;
    letter-spacing: 0;
    line-height: 0.12rem;
    margin-top: 0.16rem;
}
.clickedLabel{
    opacity: 0.9;
    background-image: linear-gradient(-132deg, #5BABFF 1%, #3375FF 98%);
}