<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>办理指引</title>
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/parking.css">
</head>
<body>
    <section class="standard_text">
        <h3>萝岗和苑地下车库车辆月停办理指引</h3>
        <b>一、办理流程</b>
        <p>填写申请表→提交相关资料→填写告知书→领取回执→等待通知并到物业服务中心交纳相关费用</p>
        <b>二、申请月停所需资料</b>
        <p>1.本小区承租人自有车辆（可享有6折优惠）：租赁合同、车主身份证、行驶证原件及其复印件各一份。</p>
        <p>2.承租人单位车辆： 单位证明原件，租赁合同、承租人身份证、行驶证原件及其复印件各一份。</p>
        <p>3.非小区住户车辆：车主身份证、行驶证原件及其复印件各一份，并且提供居住地址。</p>
        <p class="date">2018年8月1日</p>
    </section>
</body>
</html>