<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>地库月停</title>
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/parking.css">
</head>
<body>
    <section class="wrapper">
        <ul class="parking1">
            <li>
                <a href="guidance.html">
                    <img src="../../img/parking/1.png"/>
                    <p>办理指引</p>
                    <p>萝岗和苑地下车库车辆月停办理指引</p>
                </a>
            </li>
            <li>
                <a href="rule.html">
                    <img src="../../img/parking/2.png"/>
                    <p>管理规定</p>
                    <p>萝岗和苑地下车停车场车辆管理规定</p>
                </a>
            </li>
            <li>
                <a href="informing.html">
                    <img src="../../img/parking/3.png"/>
                    <p>在线填报</p>
                    <p>萝岗和苑地下车库停车申请表</p>
                </a>
            </li>
        </ul>
    </section>
</body>
</html>