<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>广州人家. 六榕寺精品民宿</title>
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script src="../../js/lcommon.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/gzrj_center.css">
    <style>
        body{
           /* background: url("../../img/dq_center/bg.png") no-repeat;*/
            background-size: 100% auto;
        }
    </style>
</head>
<body>
    <section id="ind_box">

        <div class="box1 inner">
            <h3>民宿简介</h3>
            <p>六榕寺位于广州市的六榕路，是广州市一座历史悠久、海内外闻名的古刹。六榕寺因苏东坡当年为寺庙题字而得名，寺中宝塔巍峨，树木葱茂，文物荟萃，历史上留下不少名人的足迹。六榕寺精品民宿是集广州市人文气息、传统风俗、特色餐饮于一体的优秀典范，是现代都市生活的精彩点缀，与您一起收藏金色回忆。</p>
        </div>
        <div class="box2">
            <h3 style="margin-left: 0.15rem;">民宿风采</h3>
            <div class="pic_outer">
                <img src="../../img/gzrj/yulan1.png"/>
                <img src="../../img/gzrj/yulan2.png"/>

            </div>
        </div>
        <div class="box3 inner">
            <h3>预约申请<!--<a href="#">我的预约</a>--></h3>
            <div class="kind_box">
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
            <div class="kind_box kind_box2">
                <a href="#"></a>
                <a href="#"></a>
            </div>
        </div>
        <button class="yy1">预约申请</button>
    </section>
</body>
<script>
    $(".yy1").click(function(){


    })
</script>
</html>