<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>咨询投诉</title>
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/feedback.css">
</head>
<body>
    <div class="header_box border_bottom"><img src="../../img/feedback/Path.png" alt="" class="back">咨询投诉<a href="my_problems.html">我的反馈</a></div>
    <div class="offerHeight" style="border-bottom:0.1rem solid #f1f1f1;"></div>
    <div class="tishi_box" style="background:#fff;margin-bottom: 0px;">
        <img src="../../img/feedback/Group 2.png">
        <p><strong>提示：</strong>本服务主要提供给广州城投住房租赁公司所辖保障房社区的租户使用，所受理问题仅限于以下类别，非以下类别问题您可以向其他单位咨询或反馈，如您需咨询、反馈保障房政策方面问题，可通过住保办网站或微信公众号反馈。</p>
    </div>
    <ul id="new_box1">
        <li><a href="#"><img src="../../img/feedback/link1.png"/>我要在线咨询</a></li>
        <li><a href="#"><img src="../../img/feedback/link2.png"/>我要咨询投诉</a></li>
    </ul>
    <div id="new_box2">
        <div class="tit">常见问题</div>
        <ul class="border_bottom">
            <li>
                <div class="box1">1、问题标题问题标题问题标题问题标题</div>
                <div class="box2">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</div>
            </li>
            <li>
                <div class="box1">2、问题标题问题标题问题标题问题标题</div>
                <div class="box2">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</div>
            </li>
            <li>
                <div class="box1">3、问题标题问题标题问题标题问题标题</div>
                <div class="box2">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</div>
            </li>
            <li>
                <div class="box1">4、问题标题问题标题问题标题问题标题</div>
                <div class="box2">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</div>
            </li>
            <li>
                <div class="box1">5、问题标题问题标题问题标题问题标题</div>
                <div class="box2">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</div>
            </li>
            <li>
                <div class="box1">6、问题标题问题标题问题标题问题标题</div>
                <div class="box2">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</div>
            </li>
            <li>
                <div class="box1">7、问题标题问题标题问题标题问题标题</div>
                <div class="box2">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</div>
            </li>
            <li>
                <div class="box1">8、问题标题问题标题问题标题问题标题</div>
                <div class="box2">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</div>
            </li>
            <li>
                <div class="box1">9、问题标题问题标题问题标题问题标题</div>
                <div class="box2">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</div>
            </li>
            <li>
                <div class="box1">10、问题标题问题标题问题标题问题标题</div>
                <div class="box2">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</div>
            </li>
        </ul>
    </div>
</body>
<script>
    //后退
    $(".back").click(function(){
        window.history.go(-1);
    })
    //问题展开隐藏
    $("#new_box2 ul li").each(function(){
        $(this).find(".box1").click(function(){
            if($(this).hasClass("active")){
                $(this).removeClass("active").siblings(".box2").slideUp();
            }else{
                $(this).addClass("active").siblings(".box2").slideDown();
            }
        })
    })
</script>
</html>