<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>详情</title>
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../css/frame/mescroll.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/yiwo3.css">
</head>
<body>
<section id="detail_outer" class="mescroll">
    <!--审核-->
    <div class="examine_box">您的帖子正在审核中，请耐心等待…</div>
    <!--驳回-->
    <div class="reject_box">
        <p>您发布的内容未通过审核，驳回原因如下：</p>
        <p>驳回原因驳回原因驳回原因驳回原因驳回原因驳回原因驳回原因驳回原因驳回原因驳回原因</p>
    </div>
    <section id="yiwo_detail">
        <div class="user_box_outer">
            <div class="user_box">
                <img src="../../img/yiwo/user.jpg"/>
                <div>
                    <i>用户昵称</i>
                    <span>2018/11/14 08:32</span>
                </div>
            </div>
            <div class="more_box1"><span>2611阅读</span><span>106跟帖</span></div>
        </div>
        <div id="wenzhang_box">
            <h6>文章标题文章标题文章标题文章标题</h6>
            <p>如果孩子本身好好的，忽然脸上起了红疙瘩，甚至脖子上也快速起红块，而且可能眼睛都会痒的难受，孩子会抓眼睛，抓皮肤，眼睛都揉红，很可能是过敏了。</p>
            <img src="../../img/yiwo/d1.png"/>
            <p>不要慌张，也不要给孩子吃任何东西，赶紧赶到最近的医院，到皮肤过敏科去查看，如果轻微的话，医生会打些抗过敏的针或者吃点抗过敏的药，一般十几分钟后就会有所缓解。</p>
            <p>不要慌张，也不要给孩子吃任何东西，赶紧赶到最近的医院，到皮肤过敏科去查看，如果轻微的话，医生会打些抗过敏的针或者吃点抗过敏的药，一般十几分钟后就会有所缓解。</p>
            <p>不要慌张，也不要给孩子吃任何东西，赶紧赶到最近的医院，到皮肤过敏科去查看，如果轻微的话，医生会打些抗过敏的针或者吃点抗过敏的药，一般十几分钟后就会有所缓解。</p>
            <p>不要慌张，也不要给孩子吃任何东西，赶紧赶到最近的医院，到皮肤过敏科去查看，如果轻微的话，医生会打些抗过敏的针或者吃点抗过敏的药，一般十几分钟后就会有所缓解。</p>
        </div>
        <!--板块信息，看原型判断隐藏-->
        <div class="bk"><span>壹窝活动</span></div>
    </section>
    <!--新增功能区域-->
    <div class="op2_box">
        <span class="s1">阅读 5264</span>
        <span class="s2">评论 526</span>
        <span class="s3">369</span>
    </div>
    <section id="pl_box">
        <!--一条跟帖-->
        <div class="items" id="item1">
            <div class="user_box">
                <img src="../../img/yiwo/user.jpg"/>
                <div>
                    <i>用户昵称1</i>
                </div>
            </div>
            <p>学到了！原来是这样！</p>
            <div class="reply_box">
                <div class="op3_box">
                    <span class="s1">2018/11/14 08:32</span>
                    <span class="s3">96</span>
                    <span class="s2 showed2">238</span>
                </div>
            </div>
        </div>
        <!--一条跟帖-->
        <div class="items" id="item2">
            <div class="user_box">
                <img src="../../img/yiwo/user.jpg"/>
                <div>
                    <i>用户昵称2</i>
                </div>
            </div>
            <p>学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！</p>
            <div class="reply_box">
                <ul>
                    <li><span>冷月</span>：支持～～～～～～～～～～～～～～～</li>
                    <li><span>NEFIWOFHLCLJFOWEJ</span>：支持～决定太好啦～～～～～～～～～～～～～～</li>
                    <li><a href="#">共5条回复>></a></li>
                </ul>
                <div class="op3_box">
                    <span class="s1">2018/11/14 08:32</span>
                    <span class="s3">96</span>
                    <span class="s2 showed2">238</span>
                </div>
            </div>
        </div>
        <!--一条跟帖-->
        <div class="items" id="item3">
            <div class="user_box">
                <img src="../../img/yiwo/user.jpg"/>
                <div>
                    <i>用户昵称3</i>
                </div>
            </div>
            <p>学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！</p>
            <div class="reply_box">
                <div class="op3_box">
                    <span class="s1">2018/11/14 08:32</span>
                    <span class="s3">96</span>
                    <span class="s2 showed2">238</span>
                </div>
            </div>
        </div>
        <!--一条跟帖-->
        <div class="items">
            <div class="user_box">
                <img src="../../img/yiwo/user.jpg"/>
                <div>
                    <i>用户昵称3</i>
                </div>
            </div>
            <p>学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！</p>
            <div class="reply_box">
                <div class="op3_box">
                    <span class="s1">2018/11/14 08:32</span>
                    <span class="s3">96</span>
                    <span class="s2 showed2">238</span>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="user_box">
                <img src="../../img/yiwo/user.jpg"/>
                <div>
                    <i>用户昵称3</i>
                </div>
            </div>
            <p>学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！</p>
            <div class="reply_box">
                <div class="op3_box">
                    <span class="s1">2018/11/14 08:32</span>
                    <span class="s3">96</span>
                    <span class="s2 showed2">238</span>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="user_box">
                <img src="../../img/yiwo/user.jpg"/>
                <div>
                    <i>用户昵称3</i>
                </div>
            </div>
            <p>学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！</p>
            <div class="reply_box">
                <div class="op3_box">
                    <span class="s1">2018/11/14 08:32</span>
                    <span class="s3">96</span>
                    <span class="s2 showed2">238</span>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="user_box">
                <img src="../../img/yiwo/user.jpg"/>
                <div>
                    <i>用户昵称3</i>
                </div>
            </div>
            <p>学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！学到了！原来是这样！</p>
            <div class="reply_box">
                <div class="op3_box">
                    <span class="s1">2018/11/14 08:32</span>
                    <span class="s3">96</span>
                    <span class="s2 showed2">238</span>
                </div>
            </div>
        </div>
    </section>
</section>
<!--写跟帖-->
<div class="show_ed1"><img src="../../img/yiwo/gentie.png"/>写跟帖</div>
<!--删除-->
<!--<div class="btns_box btns3"><button class="delect_btn">删 除</button></div>-->
<!--跟帖输入框弹出-->
<div id="ed1" class="edit_box">
    <div class="other"></div>
    <div class="inner">
        <textarea placeholder="写跟帖"></textarea>
        <button>发 送</button>
    </div>
</div>
<!--跟楼输入框弹出-->
<div id="ed2" class="edit_box">
    <div class="other"></div>
    <div class="inner">
        <textarea></textarea>
        <button>发 送</button>
    </div>
</div>
</body>
<script src="../../js/frame/mescroll.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script>
    var mescroll = new MeScroll("detail_outer", {
    });
    //获取当前时间
    function nowDateFuc(){
        var nowDate = new Date();
        return nowDate.toLocaleDateString()+" "+nowDate.getHours()+":"+nowDate.getMinutes();
    }
    //弹出输入框
    $(".show_ed1").click(function(){
        $("#ed1").show();
        $("#ed1 textarea").focus();
    })
    //点击空白处关闭输入框
    $("#ed1 .other").click(function(){
        $("#ed1 textarea").blur();
        $("#ed1").hide();
    })
    //评论fuc
    function sendfuc(){
        if($("#ed1 textarea").val()==""){
            $.alert("跟帖内容不能为空！",function () {
                $("#ed1 textarea").focus();
            });
            stopScroll($('.weui-mask'));
            return false;
        }else{
            var str = $("#ed1 textarea").val();//变量储存
            var send_node = [];
            send_node.push('<div class="items">');
            send_node.push('<div class="user_box">');
            send_node.push('<img src="../../img/yiwo/user.jpg"/>');
            send_node.push('<div>');
            send_node.push('<b>用户</b>');
            send_node.push('</div>');
            send_node.push('</div>');
            send_node.push('<p>'+str+'</p>');
            send_node.push('</div>');
            send_node.push('<div class="reply_box">');
            send_node.push('<div class="op3_box">');
            send_node.push('<span class="s1">'+nowDateFuc()+'</span>');
            send_node.push('<span class="s3">96</span>');
            send_node.push('<span class="s2">238</span>');
            send_node.push('</div>');
            send_node.push('</div>');
            $.confirm({
                title: '提示',
                text: '是否提交跟帖内容？',
                onOK: function () {
                    $("#ed1 textarea").val("");//清空输入框
                    $("#ed1").hide();
                    $("#pl_box").prepend(send_node.join(""));
                    scrollToPlBox();
                },
                onCancel: function () {
                }
            });

        }
    }
    //点击发送跟帖
    $("#ed1 button").click(function(){
        sendfuc();
    })
    //页面拉到评论区
    function scrollToPlBox(){
        var h = $("#pl_box").offset().top + $("#detail_outer").scrollTop() - 44;
        /*console.log($("#detail_outer").scrollTop());
        console.log(h);*/
        $("#detail_outer").scrollTop(h);
    }
    //点赞+1
    $(".s3").each(function(){
        $(this).click(function(){
            if(!$(this).hasClass("active")){
                $(this).addClass("active").text($(this).text()-0+1);
            }
        })
    })
    //页面拉到指定节点
    scrollToDom($("#item2"));
    function scrollToDom($dom){
        var h = $dom.offset().top;
        console.log(h);
        $("#detail_outer").scrollTop(h);
    }
    //ed2
    var $fatherDom = null;//定义变量，储存当前楼层
    var $floorName = null;//定义变量，储存楼主名称
    //点击发送跟楼
    $(".showed2").each(function(){
        $(this).click(function(){
            $fatherDom = $(this).parents(".reply_box");//获取他的父节点
            $floorName = $(this).parents(".items").find("i").text();//获取回复的用户名
            showed2();
            //console.log($floorName);
        })
    })
    $("#ed2 button").click(function(){
        sendfuc2();
    })
    //显示ed2
    function showed2(){
        $("#ed2").find("textarea").attr("placeholder","回复："+$floorName)
        $("#ed2").show();
        $("#ed2 textarea").focus();
    }
    //点击空白处关闭输入框
    $("#ed2 .other").click(function(){
        $("#ed2 textarea").blur();
        $("#ed2").hide();
    })
    //跟楼fuc
    function sendfuc2(){
        if($("#ed2 textarea").val()==""){
            $.alert("回复内容不能为空！",function () {
                $("#ed2 textarea").focus();
            });
            stopScroll($('.weui-mask'));
            return false;
        }else{
            var str = $("#ed2 textarea").val();//变量储存
            var send_node2 = [];
            //如果当前还无回复，多包一层ul
            if($fatherDom.find("ul").length==0){
                send_node2.push('<ul><li><span>用户名：</span>'+str+'</li></ul>');//追加的节点
            }else{
                send_node2.push('<li><span>用户名：</span>'+str+'</li>');//追加的节点
                $fatherDom = $fatherDom.find("ul");
            }
            $.confirm({
                title: '提示',
                text: '是否提交跟帖内容？',
                onOK: function () {
                    $("#ed2 textarea").val("");//清空输入框
                    $("#ed2").hide();
                    $fatherDom.prepend(send_node2.join(""));
                    //scrollToPlBox();
                },
                onCancel: function () {
                }
            });

        }
    }
</script>
</html>