<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>便民服务</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script src="../../js/DcUtils.js"></script>
    <script src="../../js/HttpUtils.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/frame/jquery.dotdotdot.js"></script>
    <link rel="stylesheet" href="../../css/frame/mescroll.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/life_server.css">
    <style>
        body{
            background: #E8E9ED;
            /*padding-top:0.1rem;*/
            /*padding-left:0.1rem;*/
        }
    </style>
</head>
<body>
<div class="life_sever clearfix">
    <div class="life_server_item fl shenghuojiaofei_img" onclick="window.location.href = './server_living_payment.html'">
        <div class="img_info">
            <div class="title">生活缴费</div >
            <div class="sub_title shengluehao">缴纳水费、缴纳电费、缴纳燃气费、有线电视费</div>
        </div>

    </div>
    <div class="life_server_item fl zhengwu_img">
        <div class="img_info">
        <!--<div class="img_info" style="left: 0.15rem;">-->
            <div class="title">政务服务</div >
            <div class="sub_title shengluehao">公积金查询、社保查询、交通罚款</div>
        </div>

    </div>
    <div class="life_server_item fl yiliao_img">
        <div class="img_info" >
        <!--<div class="img_info" style="left: 0.54rem;">-->
            <div class="title">医疗服务</div >
            <div class="sub_title">预约挂号</div>
        </div>

    </div>
    <div class="life_server_item fl jinrong_img">
        <div class="img_info" >
        <!--<div class="img_info" style="left: 0.64rem;">-->
            <div class="title">金融服务</div >
            <div class="sub_title">信用卡还款、免押金服务</div>
        </div>

    </div>
    <div class="life_server_item fl zhinengyingjian_img">
        <div class="img_info">
        <!--<div class="img_info" style="    left: 0.65rem;">-->
            <div class="title">智能硬件</div >
            <div class="sub_title">智能门禁</div>
        </div>

    </div>
    <div class="life_server_item fl jiazheng_img">
        <div class="img_info" >
        <!--<div class="img_info" style="left: 0.42rem">-->
            <div class="title">家政服务</div >
            <div class="sub_title shengluehao">保洁服务、维修服务、搬家服务</div>
        </div>

    </div>
    <div class="life_server_item fl wanggou_img">
        <div class="img_info">
        <!--<div class="img_info" style="left: 0.6rem;">-->
            <div class="title">网购服务</div >
            <div class="sub_title">团购</div>
        </div>

    </div>
    <div class="life_server_item fl jiaoyu_img" >
        <div class="img_info">
            <!--<div class="img_info" style="left: 0.09rem;">-->
            <div class="title">教育培训</div >
            <div class="sub_title">儿童培训</div>
        </div>

    </div>

</div>
<div class="weui-tabbar">
    <a href="../index.html" href="javascript:;" class="weui-tabbar__item">
        <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>-->
        <div class="weui-tabbar__icon nav_home">
            <!--<img src="../img/index/nav_svg/nav_home_sel.svg" alt="">-->
        </div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="../list/house_list.html" href="javascript:;" class="weui-tabbar__item  ">
        <div class="weui-tabbar__icon nav_rent">
            <!--<img src="../img/index/nav_svg/nav_rent.svg" alt="">-->
        </div>
        <p class="weui-tabbar__label">我要租房</p>
    </a>
    <a href="#" href="javascript:;" class="weui-tabbar__item  weui-bar__item--on">
        <div class="weui-tabbar__icon nav_info">
            <!--<img src="../img/index/nav_svg/nav_info.svg" alt="">-->
        </div>
        <p class="weui-tabbar__label">便民服务</p>
    </a>
    <a href="../rent_personal.html" href="javascript:;" class="weui-tabbar__item ">
        <div class="weui-tabbar__icon nav_my">
            <!--<img src="../img/index/nav_svg/nav_my.svg" alt="">-->
        </div>
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>
</body>
<script>
</script>
</html>