<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>我的收益</title>
    <script rel="stylesheet" src="../../js/frame/swiper-3.4.2.jquery.min.js"></script>
    <link rel="stylesheet" href="../../css/frame/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/inline_pay_detail.css">
    <script rel="stylesheet" src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script rel="stylesheet" src="../../js/common.js"></script>
    <script src="../../js/HttpUtils.js"></script>
</head>
<body>
    <div class="wrap">
        <p class="title">账单信息</p>
        <ul class="border_bottom" style="padding-bottom: 0.24rem">
            <li class="clearfix pr">
                <span class="fl contract_code">合同编号：</span>
                <span class="fl">SZZYCW81703262588-01</span>
            </li>
            <li class="clearfix pr">
                <span class="fl bill_round">租金期数：</span>
                <span class="fl">第1期</span>
            </li>
            <li class="clearfix pr">
                <span class="fl start_end_time">起止时间：</span>
                <span class="fl">2018-03-01 至 2018-06-01</span>
            </li>
            <li class="clearfix pr">
                <span class="fl required_bill">应缴金额：</span>
                <span class="fl">6348元</span>
            </li>
            <li class="clearfix pr">
                <span class="fl room_address">房屋地址：</span>
                <span class="fl">南山区汇宾广场一期汇嘉閣0单元08层08c</span>
            </li>
        </ul>
        <div class="mock_table">
            <div style="width:0.6rem">期数</div>
            <div style="width: 1rem">支付金额</div>
            <div style="width: 1rem">支付日期</div>
            <div class="mr0" style="width: 0.6rem">状态</div>
            <div style="width:0.6rem">1/4</div>
            <div style="width: 1rem">6348.00元</div>
            <div style="width: 1rem">2018-02-03</div>
            <div class="mr0" style="width: 0.6rem">成功</div>
        </div>
        <div class="clearfix">
            <img class="" src="../../img/login/ok.png" alt="" style="margin-right:0.03rem;width: 0.16rem;vertical-align: middle">
            <span class="font14_4" style="color: rgba(0,0,0,1) !important;position: relative">您已支付完该期全部租金</span>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
</html>
