<!DOCTYPE html>
<html lang="en">
<head>
    <title>商业物业</title>
</head>
<body>
<section id="policy">
    <!--功能模块-->
    <div class="find_nav">
        <a href="#"><img src="../../img/home_ver2/icons/20.svg"/>商铺出租</a>
        <a href="#"><img src="../../img/home_ver2/icons/21.svg"/>车位出租</a>
        <a href="#"><img src="../../img/home_ver2/icons/22.svg"/>长租公寓</a>
    </div>
    <!--商铺出租-->
    <div class="business_list inner">
        <div class="tit_outer">
            <h3>商铺出租</h3>
            <a href="#">更多 ></a>
        </div>
        <ul>
            <!--一条数据-->
            <li>
                <div class="item">
                    <img src="../../img/find/k1.jpg"/>
                    <div class="info">
                        <div class="box1">花果山小区4居室-南卧</div>
                        <div class="box2">36个月起租/免租一个月</div>
                        <div class="box3">119.35m²</div>
                        <div class="box4">黄浦区-花果山小区</div>
                    </div>
                </div>
            </li>
            <!--一条数据-->
            <li>
                <div class="item">
                    <img src="../../img/find/k1.jpg"/>
                    <div class="info">
                        <div class="box1">花果山小区4居室-南卧</div>
                        <div class="box2">36个月起租/免租一个月</div>
                        <div class="box3">119.35m²</div>
                        <div class="box4">黄浦区-花果山小区</div>
                    </div>
                </div>
            </li>
            <!--一条数据-->
            <li>
                <div class="item">
                    <img src="../../img/find/k1.jpg"/>
                    <div class="info">
                        <div class="box1">花果山小区4居室-南卧</div>
                        <div class="box2">36个月起租/免租一个月</div>
                        <div class="box3">119.35m²</div>
                        <div class="box4">黄浦区-花果山小区</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--车位出租-->
    <div class="business_list inner">
        <div class="tit_outer">
            <h3>车位出租</h3>
            <a href="#">更多 ></a>
        </div>
        <ul>
            <!--一条数据-->
            <li>
                <div class="item">
                    <img src="../../img/find/k1.jpg"/>
                    <div class="info">
                        <div class="box1">花果山小区车位出租了</div>
                        <div class="box2">一个月起租</div>
                        <div class="box3">总计162个车位</div>
                        <div class="box4">黄浦区-花果山小区</div>
                    </div>
                </div>
            </li>
            <!--一条数据-->
            <li>
                <div class="item">
                    <img src="../../img/find/k1.jpg"/>
                    <div class="info">
                        <div class="box1">花果山小区车位出租了</div>
                        <div class="box2">一个月起租</div>
                        <div class="box3">总计162个车位</div>
                        <div class="box4">黄浦区-花果山小区</div>
                    </div>
                </div>
            </li>
            <!--一条数据-->
            <li>
                <div class="item">
                    <img src="../../img/find/k1.jpg"/>
                    <div class="info">
                        <div class="box1">花果山小区车位出租了</div>
                        <div class="box2">一个月起租</div>
                        <div class="box3">总计162个车位</div>
                        <div class="box4">黄浦区-花果山小区</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--长租公寓-->
    <div class="new_house inner">
        <div class="tit_outer">
            <h3>长租公寓</h3>
            <a href="#">更多 ></a>
        </div>
        <ul>
            <!--一条数据-->
            <li>
                <div class="item">
                    <img src="../../img/find/k1.jpg"/>
                    <div class="info">
                        <div class="box1">城投公寓 长租公寓出租</div>
                        <div class="box2">
                            <span>7.9m² | 6/6层</span>
                            <i>¥1960元/月</i>
                        </div>
                        <div class="box3">距5号线珠江新城站643米</div>
                        <div class="box4">
                            <span>城投公寓</span>
                            <span>精装</span>
                        </div>
                    </div>
                </div>
            </li>
            <!--一条数据-->
            <li>
                <div class="item">
                    <img src="../../img/find/k1.jpg"/>
                    <div class="info">
                        <div class="box1">城投公寓 长租公寓出租</div>
                        <div class="box2">
                            <span>7.9m² | 6/6层</span>
                            <i>¥1960元/月</i>
                        </div>
                        <div class="box3">距5号线珠江新城站643米</div>
                        <div class="box4">
                            <span>城投公寓</span>
                            <span>精装</span>
                        </div>
                    </div>
                </div>
            </li>
            <!--一条数据-->
            <li>
                <div class="item">
                    <img src="../../img/find/k1.jpg"/>
                    <div class="info">
                        <div class="box1">城投公寓 长租公寓出租</div>
                        <div class="box2">
                            <span>7.9m² | 6/6层</span>
                            <i>¥1960元/月</i>
                        </div>
                        <div class="box3">距5号线珠江新城站643米</div>
                        <div class="box4">
                            <span>城投公寓</span>
                            <span>简装</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="index_logo">
        <img src="../../img/logo.svg" alt=""/>
        <span>城壹宜居</span>
        <p class="index_logo_p">传递信用 | 乐享生活</p>
    </div>
</section>
</body>
</html>