<!DOCTYPE html>
<html lang="en">
<head>
    <title>政策资讯</title>
</head>
<body>
<section id="news">
    <!--热点资讯-->
    <div class="news_outer inner">
        <div class="tit_outer"><h3>热点资讯</h3><a href="#">更多 ></a></div>
        <div class="news_box">
            <img src="../../img/find/news1.svg"/>
            <ul>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
            </ul>
        </div>
    </div>
    <!--政策法规-->
    <div class="news_outer inner">
        <div class="tit_outer"><h3>政策法规</h3><a href="#">更多 ></a></div>
        <div class="news_box">
            <img src="../../img/find/news2.svg"/>
            <ul>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
            </ul>
        </div>
    </div>
    <!--办事指南-->
    <div class="news_outer inner">
        <div class="tit_outer"><h3>办事指南</h3><a href="#">更多 ></a></div>
        <div class="news_box">
            <img src="../../img/find/news3.svg"/>
            <ul>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
            </ul>
        </div>
    </div>
    <!--招商资讯-->
    <div class="news_outer inner">
        <div class="tit_outer"><h3>招商资讯</h3><a href="#">更多 ></a></div>
        <div class="news_box">
            <img src="../../img/find/news4.svg"/>
            <ul>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
                <li>
                    <a href="#">广州五类人才可申请人才公寓，怎样审核才能通过？</a>
                    <p>2019-04-14</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="index_logo">
        <img src="../../img/logo.svg" alt=""/>
        <span>城壹宜居</span>
        <p class="index_logo_p">传递信用 | 乐享生活</p>
    </div>
</section>
</body>
</html>