<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>广州塔购票</title>
    <script src="../../js/frame/jquery-1.8.2.min.js"></script>
    <script rel="stylesheet" src="../../js/frame/swiper-3.4.2.jquery.min.js"></script>
    <link rel="stylesheet" href="../../css/frame/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <script src="../../js/common.js"></script>
    <script src="../../js/frame/LCalendar.js"></script>
    <link rel="stylesheet" href="../../css/frame/LCalendar.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/canton_tower.css">
</head>
<body>
<!-- 轮播 -->
<section id="ct_banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../img/canton_tower/img1.png"/></div>
            <div class="swiper-slide"><img src="../../img/canton_tower/img1.png"/></div>
            <div class="swiper-slide"><img src="../../img/canton_tower/img1.png"/></div>
            <div class="swiper-slide"><img src="../../img/canton_tower/img1.png"/></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>
<!--详细信息-->
<section id="ct_detail" class="width350">
    <div class="tit">460米 摩天轮游乐套票(成人)</div>
    <div class="advs"><span>塔顶观光</span><span>摩天轮</span><span>悬空走廊</span><span>室内观光</span></div>
    <div class="pri">¥298.00元</div>
    <div class="molabel date_label">
        <span>游玩日期</span>
        <input id="date" type="text" placeholder="请选择日期"/>
        <img src="../../img/canton_tower/date.png"/>
    </div>
    <div class="molabel ticket_label">
        <span>票型</span>
        <p>成人票<i>¥298.00元</i></p>
    </div>
    <div class="molabel time_label">
        <span>观光游览时段</span>
        <select id="time">
            <option value="0">请选择观光游览时段</option>
            <option>18:00-20:00</option>
            <option>20:00-22:00</option>
        </select>
        <img src="../../img/canton_tower/time.png"/>
    </div>
    <div class="molabel num_label">
        <span>数量</span>
        <i class="add">+</i>
        <input id="num" type="number" value="1"/>
        <i class="reduce no">-</i>
    </div>
    <div id="card_outer">
        <h3>详情</h3>
        <div class="card_hd">
            <span class="selectd">景点介绍</span>
            <span>温馨提示</span>
        </div>
        <div class="card_box">
            <b>广州塔</b>
            <p>又称 新电视塔，昵称小蛮腰。位于广州市海珠区赤岗塔附近，距离珠江南岸125米，与珠江新城、花城广场、海心沙岛隔江相望。广州塔塔身主体高454米，天线桅杆高146米，总高度600米 Ώ-2]
                。是中国第一高塔，世界第二高塔，仅次于东京晴空塔，是国家AAAA级旅游景区。</p>
            <img src="../../img/canton_tower/img2.png">
            <p>广州塔塔身168米–334.4米处设有“蜘蛛侠栈道”，是世界最高最长的空中漫步云梯 Δ]  。塔身422.8米处设有旋转餐厅，是世界最高的旋转餐厅 Ε]  。塔身顶部450米处设有摩天轮，是世界最高摩天轮
                Ζ]  。天线桅杆455米~485米处设有“极速云霄”速降游乐项目，是世界最高的垂直速降游乐项目 Η]
                。天线桅杆488米处设有户外摄影观景平台，是世界最高的户外观景平台，超越了迪拜哈利法塔的442米室外观景平台，以及加拿大国家电视塔447米的“天空之盖”的高度。</p>
        </div>
        <div class="card_box hide">
            <p>温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示</p>
            <p>温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示</p>
            <p>温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示</p>
            <p>温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示</p>
            <p>温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示</p>
            <p>温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示</p>
        </div>
    </div>
</section>
<img class="yjimg" src="../../img/public_rental_house/yj_gray.png">
<button id="buy_btn">立即购买</button>
</body>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script>
    var ct_swiper = new Swiper('#ct_banner .swiper-container', {
        loop:true,
        autoplay:8000,
        pagination: '#ct_banner .swiper-pagination',
        paginationClickable: true
    });
    //日历调用
    var calendar = new LCalendar();
    calendar.init({
        'trigger': '#date', //标签id
        'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
        'minDate': new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate(), //最小日期
        'maxDate': '2030-12-31'//最大日期
    });
    //数量加减
    $(".num_label .add").click(function(){
        $("#num").val($("#num").val()-0+1);
        if($("#num").val()-0>1){
            $(".num_label .reduce").removeClass("no");
        }
    })
    $(".num_label .reduce").click(function(){
        if($("#num").val()-0>1){
            $("#num").val($("#num").val()-1);
            if($("#num").val()-0<2){
                $(".num_label .reduce").addClass("no");
            }
        }
    })
    //切换
    $("#card_outer .card_hd span").click(function(){
        if(!$(this).hasClass("selectd")){
            $(this).addClass("selectd").siblings("span").removeClass("selectd");
            $("#card_outer .card_box").eq($(this).index()).show().siblings(".card_box").hide();
        }
    })
    //滚动触发
    var hhh=$("#card_outer .card_hd").offset().top;
    console.log(hhh);
    $(window).scroll(function(){
        if($(window).scrollTop()>hhh){
            $("#card_outer h3").addClass("fix");
            $("#card_outer .card_hd").addClass("fix");
        }else{
            $("#card_outer h3").removeClass("fix");
            $("#card_outer .card_hd").removeClass("fix");
        }
    })
    //购买验证
    function judgfun(){
        if($("#date").val()==""){
            $.alert("请选择游玩日期!");
            stopScroll($('.weui-mask'));
            return false;
        }
        if($("#time option:selected").val()==0){
            $.alert("请选择观光游览时间!");
            stopScroll($('.weui-mask'));
            return false;
        }
        if($("#num").val()-0<1){
            $.alert("购票数量有误！");
            stopScroll($('.weui-mask'));
            return false;
        }
        return true;
    }
    $("#buy_btn").click(function(){
        console.log("ggg");
        if(judgfun()){
            window.location.href="ticket_buy.html";
        }
    })
    $("#date").bind("input propertychange",function(event){
        console.log($("#date").val())
    });
</script>
</html>